.con07-container-search_filters {
  background: $base;
  padding-bottom: 60px;

  @media screen and (max-width: $mobile) {
    padding-bottom: 40px;
  }

  .band-content {
    position: relative;
    overflow: visible;
    .search-filters {
      .select2-selection__rendered {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-right: 10px;
        white-space: nowrap;
        line-height: 1.625rem;
      }
    }
  }


  .num-results {
    position: absolute;
    right: 0;
    top: 3px;
    color: $foundation-primary;
    font-weight: 700;
    font-size: $font-m;

    @media screen and (max-width: $mobile) {
      position: static;
      font-size: $base-font;
      font-weight: normal;
      margin-top: 6px;
      display: block;
    }
  }

  .search-filters {
    margin-top: 43px;

    @supports (display: grid) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: $gapy-search-filters $gapx-search-filters;
      grid-template-rows: auto;
      grid-auto-flow: row;
    }

    fieldset {
      padding: 8px 0 0;

      display: inline-block;
      vertical-align: top;
      width: calc(25% - #{$gapx-search-filters});
      margin-right: $gapx-search-filters;

      &:last-child {
        margin-right: 0;
      }

      @media screen and (max-width: $mobile) {
        width: 100%;
        margin-bottom: $gapy-search-filters;
      }

      @supports (display: grid) {
        width: auto;
        margin-right: 0;
      }

      legend,
      label {
        color: $foundation-primary;
        font-size: $font-sm;
        font-weight: 700;
        line-height: 35px;
      }

      .twitter-typeahead {
        width: 100%;
      }

      &.search {
        grid-column: span 2;
        position: relative;
        overflow: hidden;

        width: 49%;

        @media screen and (max-width: $mobile) {
          width: 100%;
        }

        @supports (display: grid) {
          width: auto;
        }

        /* Search input */
        .search-field {
          width: 100%;
          height: 50px;
          appearance: textfield;
          border: 1px solid $border-primary;
          border-radius: 2px;
          padding: 15px 60px 15px 46px;
          color: $foundation-primary;
          background-image: url("../vectors/search.svg");
          background-repeat: no-repeat;
          background-position: 15px center;
          background-size: 18px 18px;
          transition: all 300ms 100ms ease;
          outline: 2px solid transparent;
          font-size: $font-sm;
          font-family: $body-font;

          &::placeholder {
            color: $foundation-primary;
          }

          &:focus {
            outline: 2px solid $brand-primary;
            transition-delay: 0ms;
            background-position: -20px center;
            padding-left: 15px;
          }

          &::-ms-clear {
            /* Remove IE default X */
            display: none;
          }
        }

        ::-webkit-search-cancel-button {
          opacity: 0;
        }

        /* Reset button */
        .reset {
          height: 18px;
          width: 18px;
          background: url(../vectors/close-black.svg) center center no-repeat;
          cursor: pointer;
          transition: all 300ms ease;
          font-size: 0;

          position: absolute;
          right: 20px;
          bottom: 18px;

          pointer-events: none;
          opacity: 0;
        }

        /*.search-field:valid~.reset {
          opacity: 1;
          pointer-events: inherit;
          right: 12px;
        }*/

        /* Submit button */
        .submit {
          height: 30px;
          width: 30px;
          background: url("../vectors/search.svg") center center no-repeat;
          background-size: 18px 18px;
          font-size: 0;
          position: absolute;
          right: 12px;
          bottom: 12px;
          opacity: 0;
          transform: translateX(200%);
          transition: transform 500ms 0ms ease;
        }

        &.is-hover:not(.is-active) {
          overflow: inherit;

          .submit {
            opacity: 1;
            transform: translateX(0);
            transition: transform 300ms 100ms ease;

            &:hover {
              transform: translateX(0) scale(1.2);
              transition-delay: 0;
            }
          }
        }

        &.is-active {
          .reset {
            opacity: 1;
            pointer-events: inherit;
          }
        }

        @media screen and (max-width: $mobile) {
          legend {
            display: none;
          }
        }
      }

      select {
        width: 100%;
      }

      @media screen and (max-width: $mobile) {
        padding-top: 6px;

        &.filter,
        &.sort {
          grid-column: span 2;
        }
      }
    }

    @media screen and (max-width: $mobile) {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: min-content min-content;
      margin-top: 30px;
    }
  }
}

/* Pretty reveals */

html.js .con07-container-search_filters fieldset {
  opacity: 0;
  transition: opacity 340ms 100ms ease;

  &:nth-child(2) {
    transition-delay: 200ms;
  }

  &:nth-child(3) {
    transition-delay: 300ms;
  }
}

html.ready .con07-container-search_filters fieldset {
  opacity: 1;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Results */
.con07-container-search_results {
  background: $foundation-tertiary;
  color: $foundation-primary;

  .loader {
    border: 10px solid $foundation-quaternary;
    border-top: 10px solid $brand-primary;
    /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    margin: 0 auto;
  }

  .no-search-results {
    text-align: center;
    background: $base;
    padding: 50px 100px;
    @media screen and (max-width: $mobile) {
      padding: 25px 50px;
    }

    h2 {
      margin: 10px 0;
    }

    p {
      margin-bottom: 20px;
    }

    .icon-search {
      background-image: url("../vectors/search.svg");
      background-repeat: no-repeat;
      background-size: 40px 40px;
      width: 40px;
      height: 40px;
      display: inline-block;
    }
  }
}

.tt-menu {
  width: 100%;
  background: $base;
  border: 1px solid $border-primary;
  border-top: 0 none;
  border-radius: 0 0 2px 2px;
}

.tt-suggestion {
  cursor: pointer;
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid $border-primary;

  &:last-child {
    border-bottom: 0 none;
  }

  &:hover,
  &.tt-cursor {
    background: $foundation-quaternary;
  }
}

.tt-highlight {
  font-weight: 700;
}
