.c-con06-pagination__wrapper {
    .container:first-child {
        overflow: hidden;
    }
    .pagination {
        background-color: $base;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;

        li {
            color: $foundation-primary;
            line-height: 27px;
            &:hover{
                background-color: $base;
                transition: all .3s ease-in-out;
            }

            &.active {
                background-color: $base;

                a {
                    color: $form-elm;
                }
            }

            .material-icons {
                width: 30px;
            }
            a {
                padding: 0 10px;
                i {
                    color: $brand-primary;                
                }
            }

            span {
                display: inline-block;
                vertical-align: top;
                height: 30px;
                
                &.page {
                    color: $foundation-quaternary;
                    padding: 0 10px;
                }               
            }
            .previous i {
                transform: rotate(180deg);
            }
        }
    }
    .row {
        margin-bottom: 0;
    }
}