.con03-container-4-tiles-full-bleed {
  background: $foundation-primary;
  color: $base;
  overflow: hidden;

  * {
    color: $base;
  }

  .c-button {
    margin-top: 34px;
    border: none;
  }

  .text {
    margin: 0;
    width: 49%;
    display: inline-block;
    vertical-align: middle;
    padding-right: 8vw;
    line-height: 30px;

    h2 {
      position: relative;
      margin: 0 0 15px;

      &:before {
        content: "";
        position: absolute;
        top: -35px;
        left: 0;
        display: block;
        background: $brand-secondary;
        width: 40px;
        height: 5px;
      }
    }

    p {
      margin-top: 10px;
      @media screen {
        font-size: 14px;
        line-height: 26px;
      }

    }
  }

  .tiles {
    margin: 0;
    width: 49%;
    display: inline-block;
    vertical-align: middle;
    font-size: 0;
    overflow: hidden;
  }

  @media screen and (max-width: $mobile) {
    padding: 0;

    .band-content {
      padding: 0;
      margin: 0;
      width: 100vw;
      max-width: 100vw;

      .text {
        display: inline-block;
        width: auto;
        height: auto;
        padding: 70px 20px 41px 20px;
        font-size: 14px;
        line-height: 26px;
        h2 {
          font-size: 32px;
          line-height: 38px;
        }
      }

      .tiles {
        width: 100%;
      }
    }
  }

  @supports (display: grid) {
    .band-content {
      display: grid;
      grid-template-columns: 1fr 51%;
      grid-template-rows: min-content;
      align-items: center;
      align-content: center;
      grid-gap: 0 8vw;
    }

    .text {
      display: inline-block;
      width: auto;
      padding: 0;
      height: auto;
    }

    .tiles {
      display: block;
      width: auto;
    }

    @media screen and (max-width: $mobile) {
      .band-content {
        grid-template-columns: 100%;
        grid-template-rows: min-content 1fr;
      }
    }
  }
}
