.con03-container-4-tiles-full-bleed {
    .band-content {
        .experiencefragment.aem-GridColumn.aem-GridColumn--default--12 {
            position: relative;
            display: inline-block;
            width: 50%;
            height: 0px;
            padding-bottom: 50%;
            margin: 0;
            overflow: hidden;
        }
        .det18-tile-full-bleed {
            width: 100%;
            padding-bottom: 100%;
        }
    }
}

.con12-tiles-4-col {
    .band-content {
        display: block;
          text-align: left;
          &.brand-tiles{
            text-align: center;
            > div > .aem-Grid .experienceFragments {
                margin-bottom: 0;  
            }
          }
          > div {
             > .aem-Grid {
.experienceFragments {
  width: calc(25% - 20px);
  height: 0px;
  padding-top: calc(25% - 20px);

  max-width: 260px;
  max-height: 260px;

  display: inline-block;
  vertical-align: top;

  margin-right: 20px;
  margin-bottom: 20px;

  &:last-child, &:nth-child(4n) {
    margin-right: 0;
  }

  background-color: $base;

  font-size: 0;
  border: 5px solid $base;
  transition: all 400ms ease;
  position: relative;
  -webkit-print-color-adjust: exact;
  margin-bottom: 10px !important;
  &:hover {
    border: 5px solid $brand-primary;
  }

  .det-10-brand-logo {
    &:after {
        content: "";
        width: 18px;
        height: 16px;
        display: block;
        background: url(../vectors/hyperlink-arrow-positive.svg) center center no-repeat;
        background-size: 100% auto;
        position: absolute;
        bottom: 16px;
        right: 16px;
        @media print {
          display: none;
        }
      }


      &.external:after {
        background-image: url(../vectors/link-out.svg);
        width: 13px;
        height: 13px;
      }
  }

  @media screen and (max-width: $mobile) {
    width: calc(50% - 10px);
    height: 0px;
    padding-top: calc(50% - 10px);
    margin-right: 10px;
    margin-top: 10px;
    &:nth-child(even) {
      margin-right: 0;
    }

  }
                }
            }
        }
    }


    a {
        background-repeat: no-repeat;
        width: 100%;
        background-size: 70%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        background-position: 50%;
        z-index: 2;
    }

}

.con13-tiles-6-col {
    .crop-types {
        display: block;
        text-align: left;
		&.left, &.right {
		  float:none;
		}
    }
    .aem-Grid {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 1fr;
        grid-gap: 60px 20px;
        justify-content: center;
        align-items: center;
        align-content: center;
		.aem-Grid {
				margin-top: 0px;
				display: block;
			}
		.section{
			display:none;
		}
    }
}

.con13-tiles-6-col.maroon .crop-types .item:before { background-color: $authrable-color-maroon;}
.con13-tiles-6-col.blue .crop-types .item:before { background-color: $authrable-color-blue;}
.con13-tiles-6-col.orange .crop-types .item:before { background-color: $authrable-color-orange;}
.con13-tiles-6-col.green .crop-types .item:before { background-color: $authrable-color-green;}
.con13-tiles-6-col.blue, .con13-tiles-6-col.maroon {
  h2,p,h1,h3,h4,h5,h6,div { color: $base; }
}
.con13-tiles-6-col.green, .con13-tiles-6-col.orange {
    h2,p,h1,h3,h4,h5,h6,div { color: $foundation-primary; }
}
