.gbl05-light-navigation {
  padding-left: $content-padding-desktop;
  padding-right: $content-padding-desktop;
  background: $base;
  position: relative;

  @media screen and (max-width: $mobile) {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9;
    padding-left: $content-padding-mobile;
    padding-right: $content-padding-mobile;
  }

  margin-top: -65px;
  @media screen and (min-width: $mobile) {
    margin-top: -170px;
  }
  @supports (display: grid) {
    margin-top: 0;
  }

  > .band-content {
    font-size: 0;
    padding: 30px 0;

    @media screen and (max-width: $mobile) {
      background: white;
      z-index: 10;
      padding: 0;
    }
  }
  .band-content {
    @media screen and (min-width: $mobile) {
      max-width: $content-width;
      margin: 0 auto;
    }
  }
  .logo {
    display: inline-block;
    vertical-align: top;
    width: 230px; 
    height: 46px;
    margin-right: 20px;
    z-index: 5;
    position: relative;

    @media screen and (max-width: $mobile) {
      width: 140px;
      height: 60px;
      display: block;
      position: relative;
      margin: 0;
      background: $base;
      display: flex;
      align-content: center;

      @supports (display: grid) {
        align-items: center;
        margin-top: 25px;
        display: inline-block;
      }

      img {
        height: 28px;
        width: 140px;
        margin-top: 15px;
        max-width:100%;
      }

      &:after {
        content: "";
        border-bottom: 1px solid $border-secondary;
        width: 100vw;
        position: absolute;
        left: -5vw;
        bottom: 0;
      }
    }
   
    img {
      position: absolute;
      image-rendering: crisp-edges;
      max-width:100%;

      @supports (display: grid) {
        margin-top: 0;
      }
    }
  }
  h2{
    display: inline-block;
    font-size: 17px;
    margin-top: -10px;
    margin-left: 2px;
    position: relative;
    &:after {
      content: "";
      border-left: 1px solid $border-secondary;
      width: 2px;
      height: 32px;
      position: absolute;
      left: -24px;
      top: 10px;
    }
    @media screen and (max-width: $mobile) {
      margin-left: 40px;
      margin-top: 8px;
      font-size: $font-m;
    }
  }
  .header-text {
    display: block;
    position: relative;

    @media screen and (min-width: $mobile) {
      display: inline-block;
    }

    button {        
      height: 18px;
      width: 21px;
      font-size: 0;
      outline: none;
      position: absolute;
      right: 0;
      top: 20px;

      @media screen and (min-width: $mobile) {
        display: none;
      }

      &:before,
      &:after {
        content: "";
        display: block;
        transition: 440ms cubic-bezier(0.36, 0.93, 0.8, 1.06);
        display: block;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        transform-origin: bottom center;
      }

      &:before {
        border-top: 2px solid $brand-primary;
        border-bottom: 2px solid $brand-primary;
        transform-origin: center;
      }
      &:after {
        border-bottom: 2px solid $brand-primary;
        transform-origin: center bottom;
        height: 50%;
        margin-top: 1px;
      }
    }

    &.active {
      button {
        /*  Spin the hamburger into an X  */
        &:before {
          transform: translateY(7px) rotate(48deg) scale(0.9);
          height: 0px;
          border-top-width: 2px;
          border-bottom-width: 1px;
          @supports (display: grid) {
            transform: translateY(7px) rotate(48deg) scale(0.8);
          }
        }
        &:after {
          transform: translateY(0) rotate(-48deg) scale(0.9);
          margin: 0;
          @supports (display: grid) {
            transform: translateY(0) rotate(-48deg) scale(0.8);
          }
        }
      }
    }

    h2 {
      font-size: $font-l;
      line-height: 24px;
      border-left: 1px solid $border-primary;
      padding: 4px 0 6px 27px;
      display: inline-block;
      vertical-align: top;
      background: $base;
  
      @media screen and (max-width: $mobile) {
        font-size: $base-font;
        line-height: 22px; 
        cursor: pointer;  
        border: none;
        height: 60px;
        display: block;
        padding: 0;
        position: relative;  
        display: flex;
        align-content: center;
        align-items: center;
      }
    }
  }
  
  .c-button {
    position: absolute;
    transform: scale(0.8);
    right: 30px;
    top: 22px;

    @media screen and (max-width: $mobile) {
      display: none;
    }
  }
  a.c-button {
    position: absolute;
    transform: scale(0.8);
    right: 30px;
    top: 22px;
    appearance: none;
    @media screen and (max-width: $mobile) {
      display: none;
    }
  }
  nav {
    background: $foundation-hexanary;
    width: 100%;
    position: absolute;
    left: 0;
    padding: 0 10vw 18px 10vw;
    z-index: 9;
    @media screen and (max-width: $mobile) {
      position: absolute;
      display: none;
      background: $base;
      top: 153px;
      box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.1);
      background: $foundation-quaternary;
      &.active {
        display: block;
        z-index: 10;
      }
    }
    .band-content {
      display: flex;
      @media screen and (max-width: $mobile) {
        flex-direction: column;
      }
    }
    a {
      font-size: $font-sm;
      line-height: 20px;
      font-family: $brand-font;
      text-transform: uppercase;
      font-weight: 700;
      margin-right: 40px;
      flex-shrink: 1;
      position: relative;
      padding-top: 20px;
      letter-spacing: 0.5px;


      @media screen and (max-width: $mobile) {
        font-size: $font-m;
        line-height: 60px;
        font-weight: normal;
        padding: 0;
        height: 60px;
    
        &:first-child:before {
          content: "";
          border-top: 1px solid $border-secondary;
          width: 100vw;
          position: absolute;
          top: 0;
          left: -10vw;
        }
      }
      &:after {
        content: "";
        border-left: 1px solid $border-secondary;
        height: 20px;
        width: 1px;
        position: absolute;
        right: -20px;
        bottom: 0;

        @media screen and (max-width: $mobile) {
          border-left: none;
          border-bottom: 1px solid $border-secondary;
          height: 1px;
          width: 100vw;
          right: auto;
          left: -10vw;
          border-left: 0;
          
        }
      }
      &:last-child:after {
        display: none;
      }
      &.active {
        border-top: 4px solid $brand-secondary;
        @media screen and (max-width: $mobile) {
          border-top: none;
        }
      }
    }
  }
}