.global-nav {
  background: $base;
  position: relative;
  top: 0;
  width: 100%;
  padding: rem(20) 0 0;

  @media print {
    display: block;
    width: $content-width;
    margin: 0 auto;

    .search {
      display: none;
    }
  }

  @media screen and (min-width: $mobile) {
    z-index: 10;
  }

  @supports (display: grid) {
    padding: 0;
    position: sticky;
    z-index: 10;
  }

  @media print {
    position: static;
    height: 100px;
  }

  /* skip nav link */
  .skip-nav {
    position: absolute;
    top: -100px;
    left: 0;
    opacity: 0;
    display: block;
    z-index: 15;

    &:focus {
      opacity: 1;
    }
  }

  /* Main nav bar */
  .main {
    background: $foundation-hexanary;
    height: 100%;
    max-width: 100vw;
    padding: 0 $content-padding-desktop;

    @media print {
      display: none;
    }

    >ul {
      height: 100%;
      max-width: $content-width;
      margin: 0 auto;
      padding: 0;
      background-size: 0;

      display: flex;
      align-items: space-between;
      align-content: space-between;
      justify-content: left;
      flex-direction: row;
    }

    >ul>li {
      flex-shrink: 0;
      display: block;
      height: 100%;
      padding: 0 rem(24px);
      &:first-child {
        margin-left: 0;
        padding-left: 0;
      }

      &.nav-topline {
        background: none;
        border: none;
        position: relative;
        padding: 0;

        @media screen and (min-width: $mobile) {
          display: none;
        }

        nav {
          background: none;
          border: none;
          position: static;
          width: auto;
        }

        a {
          text-transform: none;
          color: $foundation-primary;
          font-family: $body-font;
          font-size: $font-sm;
          font-weight: inherit;
          letter-spacing: inherit;
          line-height: rem(50px);
          display: block;
          padding-left: rem(20px);
          padding-right: rem(20px);
          &:hover {
            text-decoration: underline;
          }

          &:last-child {
            position: relative;
            bottom: 0;
            width: 100%;
            left: 0;
            border-top: 1px solid $border-secondary;
            padding-top: 10px;
            background: $base;
          }

          strong {
            display: none;

            @media screen and (max-width: $tablet) {
              display: block;
              color: $brand-primary;
              display: inline-block;
              text-align: right;
              position: absolute;
              right: 25px;
            }
          }
        }
      }
    }

    >ul>li:nth-last-child(2) a:after {
      display: none;
    }

    /* Main links */
    >ul>li>a {
      display: flex;
      width: 100%;      
      font-family: $brand-font;
      -webkit-font-smoothing: subpixel-antialiased;
      font-weight: 700;
      color: $brand-primary;
      text-transform: uppercase;
      @include fluid-type($font-s, $font-sm);
      letter-spacing: 1px;
      border-bottom: 4px solid transparent;
      border-top: 4px solid transparent;
      position: relative;
      align-items: center;
      @media screen and (min-width: $mobile) {
        height: 100%;
        line-height: rem(50px);
      }
      &.has-dropdown {
        @media screen and (max-width: $mobile) {
          width: 80%;
        }        
      }

      &:hover {
        color: $hover-state;
      }

      &:active {
        color: $brand-primary-darker;
      }

      &:after {
        content: "";
        position: absolute;
        top: 15px;
        right: -23px;
        display: block;
        height: 20px;
        width: calc(100% + 20px);
        border-right: 1px solid $border-secondary;
        user-select: none;
        pointer-events: none;
        outline: none !important;
        @media screen and (max-width: $mobile) {
          display: none;
        }
      }
    }

    button {
      display: none;
      background: transparent url(../vectors/burger.svg) center center no-repeat;
      background-size: 21px auto;
      height: 21px;
      width: 21px;
      font-size: 0;
      outline: none;
      position: relative;
    }
  }

  .topline {
    letter-spacing: 0px;
    font-size: 0;
    text-align: right;
    transform: translateY(10px);
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 100%;
    padding: 0 10.5%;

    @media print {
      display: none;
    }

    @supports (display: grid) {
      position: relative;
      height: auto;
      width: auto;
      padding: 0;
    }

    a {
      letter-spacing: initial;
      display: inline-block;
      vertical-align: middle;
      color: $foundation-primary;
      font-family: $body-font;
      font-size: $font-sm;
      border-right: 1px solid $foundation-primary;
      padding: 0 8px;
      margin-top: 0px;
      height: 10px;
      overflow: visible;
      line-height: 10px;

      &:last-child {
        border: 0;
        padding-right: 0;
      }

      &:hover {
        text-decoration: underline;
      }
    }
  }

  /* Animated Hamburger button */

  .main button {
    background: transparent;
    height: 18px;

    &:before,
    &:after {
      content: "";
      display: block;
      transition: 440ms cubic-bezier(0.36, 0.93, 0.8, 1.06);
      display: block;
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      transform-origin: bottom center;
    }

    &:before {
      border-top: 2px solid $brand-primary;
      border-bottom: 2px solid $brand-primary;
      transform-origin: center;
    }

    &:after {
      border-bottom: 2px solid $brand-primary;
      transform-origin: center bottom;
      height: 50%;
      margin-top: 1px;
    }

    &:active {
      outline: none;
    }
  }

  .main.active button {
    background: $base url(../vectors/burger-close.svg) 3px 0 no-repeat;
    &:before,
    &::after {
      border: 0;
    }
  }

  .main button {
    position: absolute;
    top: 0;
    right: 20px;
  }

  @supports (display: grid) {
    .main:not(.active) button:hover {
      position: absolute;
      right: 20px;
      top: 0;
    }
  }

  .main.active button {
    right: 3vw;
    z-index: 999;
    position: fixed;

    @supports (display: grid) {
      right: -80vw;
    }
  }

  /* Mobile menu */
  @media screen and (max-width: $mobile) {
    @supports (display: grid) {
      &.active {
        z-index: 20;
      }
    }

    .main {
      background: $base;

      /* Open menu */
      &.active>ul {
        z-index: 100;
        transform: none;

        @supports (display: grid) {
          transform: translateX(100%) translateZ(0);
        }
      }

      >ul {
        top: 0;
        right: 0;
        margin: 0;
        padding: 62px 0 0 0;
        z-index: 0;
        display: block;
        position: fixed;
        height: 100vh;
        width: 85vw;
        overflow: auto;
        transform: translateX(100%) translateZ(0);
        background: $base url(../vectors/corteva-logo.svg) 20px $mobile-menu-bg-top no-repeat;
        background-size: 140px auto;
        z-index: 13;
      }

      >ul>li,
      >ul>li:first-child {
        display: block;
        height: auto;
        background: $foundation-quaternary;
        padding: 10px 20px;
        border-bottom: 1px solid $border-secondary;
        overflow: visible;
        position: relative;

        &:last-child {
          border-bottom: none;
        }
      }

      /* Subnav */
      >ul>li nav {
        display: block;
        width: 32px;
        height: 56px;
        background: url("../vectors/blue-carot.svg") center center no-repeat;
        background-size: 10px auto;
        position: absolute;
        right: 20px;
        top: 15px;
        overflow: visible;
      }

      >ul>li nav .subnav {
        display: block;
        position: fixed;
        right: 0;
        overflow: auto;
        top: 0;
        width: 85vw;
        height: 100vh;
        padding-top: 65px;

        background: $base;
        z-index: 11;
        transform: translateX(100%);
        transition: transform 440ms ease;

        li {
          padding: 30px 20px;
          border-bottom: 1px solid $border-secondary;
        }

        a {
          font-family: $brand-font;
          font-weight: 700;
          text-transform: uppercase;
          display: block;
          transition: all 300ms ease;
          letter-spacing: 1px;
          font-size: $font-s;
        }

        .image {
          display: none;
        }

        .featured {
          padding: 30px 20px;
          border-bottom: 1px solid $border-secondary;

          p {
            display: none;
          }
        }
      }

      >ul>li.active {
        position: static;
      }

      >ul>li.active nav .subnav {
        transform: translateX(0%);
        z-index: 21;
      }

      >ul>li.active>a {
        position: absolute;
        display: block;
        width: 85vw;
        height: 60px;
        top: 0;
        right: 0;
        background: $base;
        color: $foundation-primary;
        text-transform: none;
        z-index: 999999;
        text-align: center;
        font-size: $font-m;
        font-family: $body-font;
        font-weight: bold;
        letter-spacing: initial;
        transform: translateX(0);
        transition: none;
        overflow: visible;
        line-height: 52px;

        &:before {
          content: "";
          background: url("../vectors/blue-carot.svg") center center no-repeat;
          width: 10px;
          height: 100%;
          display: block;
          position: absolute;
          left: 21px;
          top: 0;
          transform: rotate(180deg);
        }
      }

      button {
        display: block;
        margin: 22px auto;
      }
    }
  }
}

@media screen and (max-width: $mobile) {
  html {
    transition: transform 440ms cubic-bezier(0.36, 0.93, 0.8, 1.06);
    width: 100vw;

    &:before {
      content: "";
      width: 1px;
      height: 1px;
      opacity: 0;
      transition: opacity 440ms ease;
      background: $foundation-primary;
      pointer-events: none;
      position: fixed;
      top: 0;
      left: 0;
    }

    body {
      width: 100vw;
      overflow-x: hidden;
    }
  }

  html.menu-open {
    transform: translateX(-85vw);
    height: 100vh;

    &:before {
      content: "";
      opacity: 0.5;

      width: 100vw;
      height: 100vh;
      display: block;
      z-index: 100;
      pointer-events: initial;
    }

    body {
      height: 100vh;
      overflow-y: hidden;
      position: fixed;
    }
  }
}

@media screen {
  html.js .global-nav .main>ul>li {
    transition: all 400ms 700ms ease-in;
    opacity: 0;

    &:nth-child(1) {
      transition-delay: 100ms;
    }

    &:nth-child(2) {
      transition-delay: 200ms;
    }

    &:nth-child(3) {
      transition-delay: 300ms;
    }

    &:nth-child(4) {
      transition-delay: 400ms;
    }

    &:nth-child(5) {
      transition-delay: 500ms;
    }
  }

  html.ready .global-nav .main>ul>li {
    opacity: 1;
  }
}
@media screen and (max-width: $mobile) {
  html.ready .global-nav .main>ul>li {
    padding: 30px 20px;
    &.nav-topline {
      padding: 0;
    }
  }
}

@media screen and (min-width: $mobile) {
  html.js .global-nav .main {
    transition: background-color 400ms 100ms ease;
    background-color: $base;
  }

  html.ready .global-nav .main {
    background-color: $foundation-hexanary;
  }
}


/*AEM Authore issues fix*/

.global-nav {
  .topline {
    &.cq-Editable-dom {
      height: 37px;
      font-size: $base-font;
    }
  }

  @media screen and (max-width: $mobile) {
    .topline {
      display: none;
    }
  }
}

/* Grid setuo: Don't put style/position stuff in here! */
@supports (display: grid) {
  .global-nav {
    display: grid;
    grid-template-columns:
      minmax($content-padding-desktop, 1fr) minmax(0px, $content-width) minmax($content-padding-desktop, 1fr);
    grid-template-rows: 110px 58px;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100vw;

    .logo {
      grid-column: 2;
      grid-row: 1;
      align-self: center;
      height: auto;
    }

    .topline {
      grid-column-end: 3;
      grid-row: 1;
      align-self: start;
    }

    .main {
      grid-column: 1 / -1;
      grid-row: 2;
    }

    .nav-search {
      grid-column-end: 3;
      grid-row: 1;
    }

    @media screen and (max-width: $mobile) {
      /*  Mobile view: single row  */
      grid-template-rows: 60px;
      justify-content: start;

      .logo {
        grid-column: 2;
        grid-row: 1;
        align-self: center;
        text-align: center;
      }
      .main {
        grid-column: 1;
        grid-row: 1;
      }

      .nav-search {
        grid-column: 1;
        grid-row: 1;
      }
    }
  }
}

/* End of grid stuff */

/*AEM Authore issues fix*/

.global-nav {
  .topline {
    &.cq-Editable-dom {
      height: 37px;
      font-size: $base-font;
    }
  }
}
