<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~  Copyright 2018,SapientRazorfish_; All Rights Reserved.
  ~   This software is the confidential and proprietary information of SapientRazorfish_,
  ~  ("Confidential Information"). You shall not disclose such Confidential Information and shall use it only in
  ~  accordance with the terms of the license agreement you entered into with SapientRazorfish_.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
<div data-sly-use.comElement="${'com.corteva.model.component.models.CommonElementsModel' @ feature='/jsFramework'}" 
	class="feature-flag" data-componentname="${comElement.componentName}" 
    data-featureflagvalue="${comElement.featureFlagState}">
</div>