.with-seperator {
    a { 
      &:after {
        content: "|";
        /* vertical-align: middle; */
        padding-left: 10px;
		padding-right: 10px;
      }
      &:last-child:after,
      &:last-of-type:after {
        content: "";
      }
    }
  }

 .primary{
  .with-seperator >  a:after {
      padding-left: 10px;
    }
  } 

.primary .with-seperator > a {
    margin: 0 10px 0 0;
  }

.primary .with-seperator {
    width: 100%;
  }

.topline {
  &.cq-Editable-dom {
    nav {
      display: inline-block;
    }
  }
  a {
    strong {
      display: none;
      @media screen and (max-width: $mobile) {
        display: block;
      }
    }
  }
}

.flag-icon-global {
  background: url("../vectors/globe-icon.svg") no-repeat;
  background-size: 108%;
  height: 20px;
  display: inline-block;
  position: relative;
  top: 14px;
  @media screen and (min-width: $mobile) {
    top: -5px;
  }
}
