.con16-right-rail-links {
  border-top: 5px solid $brand-secondary;
  padding-top: 15px;
  grid-column-start: 2;

  h3:first-child {
    font-size: $font-xl;
    line-height: 26px;
    border-bottom: 1px solid $border-secondary;
    padding-bottom: 13px;

    @media screen and (max-width: $mobile) {
      font-size: $font-l;
      line-height: 24px;
    }
  }

  li {
    border-bottom: 1px solid $border-secondary;
    padding: 25px 0;

    a+span {
      display: inline-block;
      margin-top: 5px;
      color: $foundation-primary;
      font-weight: 700;
    }
  }

  a {
    font-family: $brand-font;
    font-weight: 700;
    font-size: $font-l;
    line-height: 24px;
    padding: 0;
    display: block;
    padding-right: 25px;

    &.external {
      background: transparent url(../vectors/link-out.svg) center right no-repeat;
    }
    &.internal{
      background: transparent url("../vectors/hyperlink-arrow-positive.svg") center right no-repeat;
    }
  }
}
