.con16-right-rail-links {
  .eyebrow {
    display: block;
    font-weight: bold;
    font-size: $font-m;
    line-height: 20px;
    color: $foundation-primary;
    margin-bottom: 10px;
    width: 100%;

    @media screen and (max-width: $tablet) {
      font-size: $font-sm;
    }

  }
    
  li {
    &:last-child {
      border: 0;
    }
  }
  a {
   
    &.external{
      background: transparent url(../vectors/link-out.svg) center right no-repeat;
    }
    &.internal{
      background: transparent url("../vectors/hyperlink-arrow-positive.svg") center right no-repeat;
    }
  }
  
}