.nav06-horizontal-link-list {
  background: $brand-primary;
  color: $base;
  padding-top: 25px;
  padding-bottom: 28px;

  nav {
    text-align: center;
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    @media screen and (max-width: $mobile) {
      flex-direction: column;
      align-items: start;
    }
    a {
      font-size: $font-m;
      line-height: 17px;
      color: $base;
      font-weight: bold;
      display: inline-block;
      position: relative;
      padding: 5px 10px;
      @media screen and (max-width: $mobile) {
        text-align: left;
        padding: 15px 0;
      }
      &:hover {
        color: $nav-hover;
      }
      &:after {
        content: "|";
        color: $base;
        position: absolute;
        display: block;
        right: -2.5px;
        top: 50%;
        transform: translateY(-50%);
        @media screen and (max-width: $mobile) {
          display: none;
        }
      }
      &:last-child:after {
        display: none;
      }
    }
  }
}
