body > .root.responsivegrid  {
     > .aem-Grid {
        > .aem-GridColumn {
            > .feature-flag {
                 > .det-10-brand-logo {
                    width: 20vw;
                    height: 20vw;
                    max-width: 260px;
                    max-height: 260px;
                    display: inline-block;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-color: $base;
                    font-size: 0;
                    background-size: 70%;
                    border: 5px solid #ffffff;
                    transition: all 400ms ease;
                    position: relative;
                    -webkit-print-color-adjust: exact;
                    &:hover {
                        border: 5px solid $brand-primary;
                    }
                    &:after {
                        content: "";
                        width: 18px;
                        height: 16px;
                        display: block;
                        background: url(../vectors/hyperlink-arrow-positive.svg) center center no-repeat;
                        background-size: 100% auto;
                        position: absolute;
                        bottom: 16px;
                        right: 16px;
                        @media print {
                          display: none;
                        }
                    }
                    &.external:after {
                        background-image: url("../vectors/link-out.svg");
                        width: 13px;
                        height: 13px;
                    }
                    @media screen and (max-width: $mobile) {
                        width: 100%;
                        height: 100%;
                        max-width: initial;
                        max-height: initial;
                    }
                }
            }
        }
    }
}


body > .root.responsivegrid  {
     > .aem-Grid {
        > .aem-GridColumn {
            > .feature-flag {
                .item.custom-6-tiles-crop-icon {
                    width: 100px;
                    height: 100px;

                    &:before {
                        content: '';
                        width: 100px;
                        height: 100px;
                        display: inline-block;
                        position: absolute;
                        z-index: 1;
                        background-color: #003EB6;
                        border-radius: 50%;
                    }
                    img {
                        transition: 200ms ease-out;
                        display: block;
                        margin: 0 auto;
                        width: 100%;
                        height: 100%;
                        padding: 30%;
                        position: relative;
                        z-index: 2;
                    }
                    strong {
                        text-align: center;
                        width: 100%;
                        color: #000;
                        display: block;
                    }
                    .white {
                        color: $base;
                    }

                    &.maroon {
                        &:before {
                            background-color: $authrable-color-maroon;
                        }
                    }
                    
                    &.blue {
                        &:before {
                            background-color: $authrable-color-blue-dark;
                        }
                    }

                    &.orange {
                        &:before {
                            background-color: $authrable-color-orange;
                        }
                    }
                    &.green {
                        &:before {
                            background-color: $authrable-color-green-dark;
                        }
                    }
                }


            }
        }
    }
 }


body > .root.responsivegrid  {
     > .aem-Grid {
        > .aem-GridColumn {
            > .feature-flag {

                .item.det18-card-responsive {
                    width: 328px;
                    position: relative;
                  }
                .det18-card-responsive a {
                    display: block;
                    font-size: $font-m;
                    font-weight: 700;
                    position: absolute;
                    bottom: -25px;
                    left: 0px;
                    &:after {
                      content:'';
                      background-image: url(../vectors/hyperlink-arrow-positive.svg);
                      width: 18px;
                      height: 10px;
                      display:inline-block;
                      margin-left: 20px;
                    }
                    &.external {
                        &:after {
                            background-image: url(../vectors//link-out.svg);
                            width: 17px;
                            height: 16px;
                            background-repeat: no-repeat;
                            position: relative;
                            top: 4px
                        }
                    }
                  }
                }
              }
            }
          }
