/target/
*.classpath
*.project
*.vlt
*.prefs
/test/

/codequality/
/codequality/findbugsXml.xml
/resources/

/corteva.core/test-output/
/corteva.core/.externalToolBuilders/
/corteva.core/.settings/
/corteva.core/target/

/corteva.model/test-output/
/corteva.model/.externalToolBuilders/
/corteva.model/.settings/
/corteva.model/target/

/corteva.service/test-output/
/corteva.service/.externalToolBuilders/
/corteva.service/.settings/
/corteva.service/target/
/corteva/codequality/checkstyle-result.xml
/corteva/codequality/findbugsXml.xml


/corteva.ui.apps/.settings/
/corteva.ui.apps/target/
/corteva.ui.apps/pom.xml.releaseBackup

*.class
*.jar
corteva.ui.apps/node_modules/
corteva.ui.apps/node/
corteva.ui.apps/src/main/content/jcr_root/apps/corteva/components/clientlib/toplib/css/style.css
corteva.ui.apps/src/main/content/jcr_root/apps/corteva/components/clientlib/toplib/css/style.css.map