.DS_Store
testing
corteva/corteva.ui.apps/src/main/content/jcr_root/apps/corteva/components/clientlib/toplib/resources/vectors/
corteva/corteva.ui.apps/src/main/content/jcr_root/apps/corteva/components/clientlib/toplib/resources/fonts/
corteva/codequality/
.idea
corteva/corteva.ui.apps/src/main/content/jcr_root/apps/brevant/components/clientlib/toplib/resources/
corteva/corteva.ui.apps/src/main/content/jcr_root/apps/brevant/components/clientlib/toplib/css/
corteva/corteva.ui.apps/src/main/content/jcr_root/apps/brevant/components/clientlib/toplib/js/dist/
corteva/corteva.ui.apps/src/main/content/jcr_root/apps/brevant/components/clientlib/toplib/js/vendor/babel-polyfill.js
.brackets.json
dist/