$gap: 20px;
.cardsContainer {
    .aem-Grid {
        .experienceFragments {
            .aem-Grid {
                white-space: initial;

                .primaryCard, .feature-flag {
                  height: 100%;
                }
            }
        }
    }
    .cards {
        max-width: $content-width;
        margin: 0 auto;
                
        .det02-card-primary-content,
        .det03-card-related, 
        .det09-card-cta {
            margin-right: $gap;
            @media screen and (min-width: $tablet) {
                max-width: 328px;
            }
        }
        
        
    }

    
    .relCardCTAButton button{
        margin: 0 auto;
        display: block;
        margin-top: 20px;
    }

}

.conxx-cards-1-column {
  .items > .aem-Grid{
      white-space: initial;

      > * {
        margin-bottom: 20px;
        display: block !important;
        &:last-child {
          margin-bottom: 0;
        }
        @media screen and (max-width: $mobile) {
          margin-bottom: 40px;
        }
        @supports (display: grid) {
            grid-template-columns: 49% 51%;
            .multimedia, .text {
              display: block;
              width: 100%;
            }

            @media screen and (max-width: $mobile) {
              display: grid !important;
              grid-template-columns: 1fr;
            }
        }
      }
    }
}