.det18-card-responsive {
  position: relative;
  page-break-inside: avoid;
  .item {
    display: inline-block;
    vertical-align: top;
    width: 45%;
  }
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  h3 {
    font-weight: 700;
    font-size: $font-xl;
    margin: 16px 0 8px;
    line-height: 26px;
  }
  p {
    margin-bottom: 12px;
  }
  a {
      display: block;
      font-size: $font-m;
      font-weight: 700;
      position: absolute;
      left: 0px;
      &:after {
        content:'';
        background-image: url(../vectors/hyperlink-arrow-positive.svg);
        width: 18px;
        height: 10px;
        display:inline-block;
        margin-left: 8px;
      }
   }
  @supports (display: grid) {
    @media screen and (max-width: $mobile) {
      height: auto;
      cursor: pointer;
      picture {
        width: 100%;
        transition: height 500ms ease;
        position: relative;
        &:before {
          content: " ";
          display: block;
          position: absolute;
          right: 3px;
          bottom: 4px;
          width: 20px;
          height: 20px;
          border-radius: 10%;
          background: $base center center no-repeat;
          background-image: url("data:image/svg+xml,%0A%3Csvg width='10px' height='10px' viewBox='0 0 12 12' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 48.2 %2847327%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Screens' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='square'%3E%3Cg id='Products-&amp;-Services---Seed-Card-Expanded' transform='translate%28-166.000000, -1357.000000%29' stroke='%23185EE5'%3E%3Cg id='Our-Portfolio' transform='translate%2820.000000, 744.000000%29'%3E%3Cg id='Icon-/-Expand-Copy-12' transform='translate%28144.000000, 611.000000%29'%3E%3Cg id='Icon-/-Expand' transform='translate%283.000000, 3.000000%29'%3E%3Cg%3E%3Cpath d='M6.66666667,3.33333333 L9.58333333,0.416666667' id='Stroke-1' stroke-width='1.5'%3E%3C/path%3E%3Cpolyline id='Stroke-3' stroke-width='1.5' points='8.33333333 0 10 0 10 1.66666667'%3E%3C/polyline%3E%3Cpath d='M3.33333333,6.66666667 L0.416666667,9.58333333' id='Stroke-5' stroke-width='1.5'%3E%3C/path%3E%3Cpolyline id='Stroke-7' stroke-width='1.5' points='1.66666667 10 0 10 0 8.33333333'%3E%3C/polyline%3E%3Cpath d='M6.66666667,6.66666667 L9.58333333,9.58333333' id='Stroke-9' stroke-width='1.5'%3E%3C/path%3E%3Cpolyline id='Stroke-11' stroke-width='1.5' points='10 8.33333333 10 10 8.33333333 10'%3E%3C/polyline%3E%3Cpath d='M3.33333333,3.33333333 L0.416666667,0.416666667' id='Stroke-13' stroke-width='1.5'%3E%3C/path%3E%3Cpolyline id='Stroke-15' stroke-width='1.5' points='0 1.66666667 0 0 1.66666667 0'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        }
      }
      p {
        overflow: hidden;
        height: 0px;
        transition: all 500ms ease;
        margin: 0;
        text-align: left;
        page-break-inside: avoid;
      }
      h3 {
        font-size: rem(12pt);
        line-height: 22px;
        transition: all 600ms ease;
        text-align: left;
      }
    }
    &.active {
      cursor: default;
      picture {
        width: 100%;
        &:before {
          width: 40px;
          height: 40px;
          right: 10px;
          bottom: 10px;
          background-image: url("data:image/svg+xml,%0A%3Csvg width='20px' height='20px' viewBox='0 0 22 22' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 48.2 %2847327%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Screens' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='square'%3E%3Cg id='Products-&amp;-Services---Seed-Card-Expanded' transform='translate%28-314.000000, -1062.000000%29' stroke='%23185EE5'%3E%3Cg id='Our-Portfolio' transform='translate%2820.000000, 744.000000%29'%3E%3Cg id='Seed-Panel-Expanded' transform='translate%280.000000, 156.000000%29'%3E%3Cg id='CTA---Collapse' transform='translate%28285.000000, 153.000000%29'%3E%3Cg id='Icon-/-Collaspe' transform='translate%2810.000000, 10.000000%29'%3E%3Cg id='Page-1'%3E%3Cpath d='M19.125,19.125 L13.875,13.875' id='Stroke-1' stroke-width='2'%3E%3C/path%3E%3Cpolyline id='Stroke-3' stroke-width='2' points='13 16 13 13 16 13'%3E%3C/polyline%3E%3Cpath d='M0.875,0.875 L6.125,6.125' id='Stroke-4' stroke-width='2'%3E%3C/path%3E%3Cpolyline id='Stroke-6' stroke-width='2' points='7 4 7 7 4 7'%3E%3C/polyline%3E%3Cpath d='M1,19 L6.5,13.5' id='Stroke-7' stroke-width='2'%3E%3C/path%3E%3Cpolyline id='Stroke-9' stroke-width='2' points='4 13 7 13 7 16'%3E%3C/polyline%3E%3Cpath d='M19.125,0.875 L13.875,6.125' id='Stroke-10' stroke-width='2'%3E%3C/path%3E%3Cpolyline id='Stroke-12' stroke-width='2' points='16 7 13 7 13 4'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        }
      }
      p {
        height: 100px;
      }
      h3 {
        font-size: rem(18pt);
        color: $foundation-primary;
        font-size: rem(18pt);
        margin-bottom: 9px;
        margin-top: 17px;
        line-height: rem(28px);
      }
    }
  }
}
.item.det18-card-responsive {
  p {
    font-size: $font-m;
    line-height: 26px;
  }
}


@media screen and (max-width: $mobile) {
   .con20-container-responsive{
     .experienceFragments.active{
        p {
          height: 100px;
        }
        .internal,
        .external  {
          display: block;
        }
      }
      .experienceFragments .internal,
      .experienceFragments .external {
        display: none;
      }
  }
}
