.con20-container-responsive {
  .atm01-header-v1__wrapper{
    margin-bottom: 48px;
    @media screen and (max-width: $mobile) {
      margin-bottom: 24px;
    }

  }
  .smart-tile-grid  {
     > .aem-Grid--12 {
        max-width: $content-width;
        min-width: 600px;
        margin: 0 auto;
        font-size: 0;

        > .aem-GridColumn {
            display: inline-block;
            vertical-align: top;
            width: 30%;
            width: calc(33.333% - #{$gap-x-container-responsive});
            margin-right: $gap-x-container-responsive;
            margin-bottom: 54px;
            &:nth-child(3n) {
              margin-right: 0;
            }
        }
      }
  }

  /* Grid setup */
  @supports (display: grid) {
    .smart-tile-grid {
      > .aem-Grid--12 {
        display: grid;
        width: 100%;
        max-width: $content-width;
        min-width: 0;
        grid-template-columns: repeat($columns-container-responsive, 1fr);
        grid-template-rows: auto;
        grid-gap: $gap-y-container-responsive $gap-x-container-responsive;

         > .aem-GridColumn {
            grid-column: span 1;
            grid-row: span 1;
            width: 100%;
            height: 100%;
         }
      }
    }

    @media screen and (max-width: $tablet) {
      .smart-tile-grid {
        > .aem-Grid--12 {
          grid-gap: 40px $gap-x-container-responsive;

          > .aem-GridColumn{
            height: auto;
            margin-bottom: 0;

            .det18-card-responsive {
              h3{
                font-size: 15px;
                line-height: 18px;
                margin-bottom: 0;
                font-size: 15px;
                line-height: 18px;
              }
            }
          }
        }
      }
    }
    @media screen and (max-width: $mobile) {
      .smart-tile-grid {
        > .aem-Grid--12 {
            max-width: 600px;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-flow: dense;
            grid-gap: $gap-x-container-responsive 14px;

            > .aem-GridColumn.active {
              grid-column: span 2;
              grid-row: span 1;
              cursor: default;
              margin-bottom: 0;
              .det18-card-responsive {
                cursor: default;
                picture {
                  width: 100%;
                  &:before {
                    width: 40px;
                    height: 40px;
                    right: 10px;
                    bottom: 10px;
                    background-image: url("data:image/svg+xml,%0A%3Csvg width='20px' height='20px' viewBox='0 0 22 22' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3C!-- Generator: Sketch 48.2 %2847327%29 - http://www.bohemiancoding.com/sketch --%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3C/defs%3E%3Cg id='Screens' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd' stroke-linecap='square'%3E%3Cg id='Products-&amp;-Services---Seed-Card-Expanded' transform='translate%28-314.000000, -1062.000000%29' stroke='%23185EE5'%3E%3Cg id='Our-Portfolio' transform='translate%2820.000000, 744.000000%29'%3E%3Cg id='Seed-Panel-Expanded' transform='translate%280.000000, 156.000000%29'%3E%3Cg id='CTA---Collapse' transform='translate%28285.000000, 153.000000%29'%3E%3Cg id='Icon-/-Collaspe' transform='translate%2810.000000, 10.000000%29'%3E%3Cg id='Page-1'%3E%3Cpath d='M19.125,19.125 L13.875,13.875' id='Stroke-1' stroke-width='2'%3E%3C/path%3E%3Cpolyline id='Stroke-3' stroke-width='2' points='13 16 13 13 16 13'%3E%3C/polyline%3E%3Cpath d='M0.875,0.875 L6.125,6.125' id='Stroke-4' stroke-width='2'%3E%3C/path%3E%3Cpolyline id='Stroke-6' stroke-width='2' points='7 4 7 7 4 7'%3E%3C/polyline%3E%3Cpath d='M1,19 L6.5,13.5' id='Stroke-7' stroke-width='2'%3E%3C/path%3E%3Cpolyline id='Stroke-9' stroke-width='2' points='4 13 7 13 7 16'%3E%3C/polyline%3E%3Cpath d='M19.125,0.875 L13.875,6.125' id='Stroke-10' stroke-width='2'%3E%3C/path%3E%3Cpolyline id='Stroke-12' stroke-width='2' points='16 7 13 7 13 4'%3E%3C/polyline%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
                  }
                }
                p {
                  height: auto;
                  padding-bottom: 11px;
                  font-size: 14px;
                  line-height: 26px;
                }
                h3 {
                  font-size: 18px;
                  color: $foundation-primary;
                  margin-bottom: 9px;
                  margin-top: 17px;
                  line-height: 22px;
                }

              }
            }
          }
       }
    }
  }
}

.con20-container-responsive {
  .new.newpar {
    display: none;
  }
}

.cardsContainer .con20-container-responsive .aem-Grid {
    white-space: normal;
  }
