/* ==========================================================================
   BOX SHADOW

   Box shadow definitions, function and mixins
   ========================================================================== */

/**
 Box shadow types
*/
$box-shadow-color: (
    default: $foundation-quaternary

);

/**
 Getter for retrieving a box shadow type
 @param {String} $color-name Name of color to retrieve color for box-shadow
*/
@function get-box-shadow-color($color-name: 'default') {
    @return map-get($box-shadow-color, $color-name);
}

/**
 Mixin for creating a box shadow
*/
@mixin make-box-shadow($x-coordinate, $y-coordinate, $blur, $spread, $color-name: 'default') {
    @include box-shadow($x-coordinate $y-coordinate $blur $spread get-box-shadow-color($color-name));
}




@mixin transform($value){
    transform: translateY($value);
    -webkit-transform: translateY($value);
    -moz-transform: translateY($value);
    -webkit-transform: translateY($value);
}