main {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  section, > div {
    width: 60%;
    @media screen and (max-width: $mobile) {
      width: 100%;
    }
  }

  .sidebar {
    width: calc(40% - #{$gapx-main-layout});
    @media screen and (max-width: $mobile) {
      width: 100%;
    }
  }

  @media screen and (max-width: $mobile) {
    flex-direction: column;
  }

  &.reverse {
    section, > div {
      order: 2;
    }
    .sidebar {
      order: 1;
    }

  }
}
