@media print {
    /*****COMMON CSS PRINT*****/
    img,
    .carousel-hero {
        display: none !important;
    }
    .logo img {
        display: block !important;
    }
    h1,
    h2,
    h3,
    h4,
    h5 {
        margin: 10px 0 !important;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    p,
    span,
    ul,
    li,
    a {
        color: #000 !important;
        padding: 0;
        text-shadow: none !important;
    }
    /*****HOME PAGE CSS PRINT*****/
    div.band.con02-cards-3-column .cards {
        padding: 10px 0!important;
        margin: 24px 0!important;
        display: block !important;
        overflow: hidden;
        grid-template: none !important;
        grid-template-rows: none !important;
        height: auto !important;
    }
    .det09-card-cta,
    .det09-card-cta:after,
    .det09-card-cta a:hover {
        background: transparent!important;
        width: 100% !important;
        display: block !important;
        height: 60px !important;
        margin-top: 16px !important;
    }
    .det02-card-primary-content .text {
        height: auto !important;
        padding: 0 !important;
    }
    .det02-card-primary-content .text p {
        height: auto !important;
        min-height: auto !important;
    }
    .det09-card-cta {
        background: transparent !important;
    }
    .det09-card-cta a:hover,
    .det09-card-cta:after {
        background: transparent !important;
    }
    .det09-card-cta h3 {
        left: 0 !important;
        max-width: 100% !important;
    }
    .band {
        padding: 0 !important;
    }
    footer.band {
        padding: 0 !important;
    }
    .nav03-feature-link-list section:last-child a,
    .band.white+.band.white {
        border: none !important;
    }
    .nav03-feature-link-list section:last-child a {
        padding: 5px 0 !important;
    }
    .det25-card-feature .text {
        padding: 10px 0 0 0 !important;
    }
    .det25-card-feature .text a {
        display: none !important;
    }
    .det25-card-feature .text p {
        margin: 0 !important;
    }
    /*****OUR HISTORY PAGE CSS PRINT*****/
    .timelineCard:nth-child(odd) .company {
        right: -55px !important;
        background: none !important;
        left: 250px !important;
    }
    .timelineCard .company {
        background: none !important;
        left: -55px !important;
        right: 0 !important;
    }
    .timelineCard .company:before {
        display: none !important;
    }
    .con11-timeline .items h2 {
        margin-right: -15px !important;
        display: block;
    }
    .atm01-header-v1__wrapper {
        margin: 0;
        display: block;
        max-width: 100%;
    }
    .con11-timeline .items h2 {
        font-size: 20px!important;
        line-height: 22px !important;
        height: auto !important;
        margin: 10px -32px 0 0!important;
    }
    /*****OUR INNOVATION PAGE CSS PRINT*****/
    .hro02-hero-level-2 picture,
    .str01-text-on-image .band-content .c-button,
    .det01-accordion-list .item .item-content .read-more {
        display: none !important;
    }
    .hro02-hero-level-2 {
        height: auto !important;
    }
    .str01-text-on-image {
        height: auto !important;
        padding: 10px 0 !important;
    }
    .str06-feature-2-column .band-content .text .heading {
        width: 100% !important;
        border: none !important;
    }
    .det01-accordion-list.thumbnails .item {
        padding: 0 !important;
        min-height: auto !important;
        margin: 10px 0 !important;
    }
    .str06-feature-2-column .band-content .text:first-child {
        display: block !important;
    }
    .str06-feature-2-column .band-content .text>div,
    .str06-feature-2-column .band-content .text>p,
    .str06-feature-2-column .band-content {
        padding: 0 !important;
    }
    .con04-container-feature .cards {
        margin: 0 !important;
    }
    .det02-card-primary-content .text a {
        display: none !important;
    }
    /*****OUR MERGER PAGE CSS PRINT*****/
    .str06-feature-2-column .band-content {
        display: block !important;
    }
    .str06-feature-2-column .band-content picture {
        display: none !important;
    }
    .det01-accordion-list .item.active .item-content,
    .det01-accordion-list .item .item-content {
        height: auto !important;
    }
    .det01-accordion-list .item {
        padding: 10px 0 !important;
        display: block !important;
        margin: 10px 0 !important;
    }
    .det01-accordion-list .item:last-child {
        border-bottom: 1px solid #a9b3bd !important;
    }
    .c-hro01 .band-content p {
        padding: 0 !important;
        margin: 0 !important;
    }
    /*****OUR MISSION PAGE CSS PRINT*****/
    .det05-tile-impact {
        width: 100% !important;
        margin: 0 !important;
        display: block !important;
        height: 80px!important;
        background: none !important;
    }
    .det06-tile-impact-expanded picture {
        display: none !important;
    }
    .det06-tile-impact-expanded .title {
        position: relative !important;
        display: block !important;
        left: auto !important;
        width: 100% !important;
    }
    .det05-tile-impact .label {
        display: none !important;
    }
    .det05-tile-impact .title {
        padding: 0 !important;
    }
    /*****PDP PAGE CSS PRINT*****/
    .hro03-product-header .panel picture,
    .det3-crop-list .det01-accordion-list.blue .item:before,
    .det3-crop-list .det01-accordion-list.orange .item:before,
    .det3-crop-list .det01-accordion-list.green .item:before {
        display: none !important;
    }
    .hro03-product-header .band-content {
        width: 100% !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    main .sidebar {
        display: none !important;
    }
    .hro03-product-header .band-content .product-logo,
    .det32-product-intro .c-button {
        display: none !important;
    }
    .hro03-product-header {
        align-items: normal !important;
    }
    /*****PRIVACY PAGE CSS PRINT*****/
    .inner-nav-wrapper .nav-wrapper {
        display: none !important;
    }
    .inner-nav-wrapper .sections {
        width: 100% !important;
        display: block !important;
        margin: 0 !important;
    }
    /*****PRODUCTS SERVICES PAGE CSS PRINT*****/
    .str06-feature-2-column .band-content .text .c-button {
        display: none !important;
    }
    .det-10-brand-logo {
        -webkit-filter: grayscale(1);
        filter: grayscale(1);
    }
    /*****SEARCH PAGE CSS PRINT*****/
    .c-con06-pagination__wrapper .pagination {
        display: none !important;
    }
    /*****EXEC BIO PAGE CSS PRINT*****/
    .con04-container-feature .c-button {
        display: none !important;
    }
    /*****MEDIA CENTER PAGE CSS PRINT*****/
    .con18-article-feed .c-button {
        display: none !important;
    }
    .nav04-header-tabs nav a.active,
    .det15-card-bio {
        border-bottom-color: #000 !important;
    }
}