/* =====================================================
   Sections
   w3c.github.io/html/sections.html
   ===================================================== */

/**
 * 1. Prevent adjustment of font size on orientation change.
 */
html {
  box-sizing: border-box;
  height: 100%;
  text-size-adjust: 100%; /* 1 */
  position: relative;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* *:focus {
  outline: 2px solid $color-focus;
} */

body {
  margin: 0;
  height: auto;
  background-color: $base;
  font-size: $base-font;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
  color: $foundation-primary;
}

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
main,
nav,
section {
  display: block;
}
