/* ==========================================================================
   Z-INDEX DEFINITIONS

   z-index map, function and mixin for element z-index values. This is intended
   to simplify defining z-index values directly within a class definition.
   ========================================================================== */
$z-index-elements: (
    base: 1,
    layer: 10,
    navigation: 20,
    dropdown: 20,
    overlay: 50,
    modal: 60,
    loading: 90
);

/**
 Getter for retrieving a z-index value for an element
 @param {String} $element Name of element for retrieve from $z-index-elements map
*/
@function get-z-index($element) {
    @return map-get($z-index-elements, $element);
}

/**
 Mixin for setting a z-index value for an element
 @param {String} $element Name of element for retrieve from $z-index-elements map and set value as
*/
@mixin z-index($element) {
    z-index: get-z-index($element);
}
