$form-elm:  #808080;
$border-light: #BBBBBB;

$error-color: #FF0000;
$invalid-color: #CC3602;
$hover-state: #459AFF;

$placeholder-color: #767676;

$border-primary: #AAAAAA;
$border-secondary: #A9B3BD;
$border-tertiary: #666666;
$border-quaternary: #979797;
$border-pentanary: #DDDDDD;
$border-focus: #185EE5;

$off-black: rgba(0, 0, 0, 0.87);

$brand-font: Gilroy, "Arial Black", sans-serif;
$body-font: "Helvetica Neue", "Neue Helvetica", Helvetica, Arial, sans-serif;
$sans-serif: sans-serif;

/* style guide colors */
$brand-primary: #0072CE;
$brand-primary-darker:  #004ABF;
$brand-secondary: #00DC78;
$brand-tertiary: #FD5404;
$brand-quaternary: #5B0D23;

$base: #FFFFFF;

$foundation-primary: #000000;
$foundation-secondary: #C8CFD5;
$foundation-tertiary: #E6E8EA;
$foundation-quaternary: #EEEEEE;
$foundation-pentanary: #7F7F7F;
$foundation-hexanary: #F0F0F0;
$foundation-septanary: #F8E71C;

$input-focus: #88c9ff;
$nav-button-border: #9ecaed;
$nav-hover: #eeeeef;

/* Heading Font Sizes */
$heading-s: 24px; /*h4 tag*/
$heading-m: 32px; /*h3 tag*/
$heading-l: 44px; /*h2 tag*/
$heading-xl: 56px; /*h1 tag*/

/* Regular Font Sizes */

$base-font: 16px; /*regular font*/
$font-s: 12px;
$font-sm: 13px;
$font-m: 14px;
$font-l: 18px;
$font-xl: 20px;

/* viewports and general widths */

$content-width: 1024px;


$mobile: 769px;
$tablet: 992px;
$desktop: 1200px;

$mobile-footer: 720px;

/* general gutter widths */

$band-padding-desktop: 100px;
$band-padding-mobile: 50px;
$content-padding-desktop: 10vw;
$content-padding-mobile: 5vw;

/* Per-Component gutter widths */
$gapx-search-filters: 20px;
$gapy-search-filters: 13px;

$gapx-main-layout: 104px;

$tiles-6-col-gap-x: 20px;
$tiles-6-col-gap-y: 60px;

$gap-x-container-responsive: 20px;
$gap-y-container-responsive: 50px;
$columns-container-responsive: 3;

/* Biography */

$gutter-horizontal: 100px;
$gutter-vertical: 50px;
$sidebar-width: 328px;

$timeline-gutter: 170px;

$offset-gray: 70px;
$offset-shadow: 35px;

/* Anchor Navigation - used in tiles */

$anchorNav-width: 241px;
$anchorNav-borderWidth: 5px;

$country-icon-desktop-width: 67px;
$country-icon-mobile-width: 40px;

/* used in tiles */

$mgap: 10px;
$gap: 20px;
$external-white: url(../vectors/link-out-white.svg);
$internal-white: url(../vectors/arrow-right-white.svg);
$external-blue: url(../vectors/link-out.svg);
$internal-blue: url(../vectors/arrow-right.svg);

/* angles */
$button-angle: 0deg;
$breadcrumb-design-angle: -15deg;

/* Hero Carousel */
$heroCarouselHeight: 560px;
$heroCarouselWrapperAngle: 0;
$heroCarouselMobileWrapperAngle: 0;
$heroCarouselButtonRowBottom: 0;
$heroCarouselMobileButtonRowBottom: 0;
$heroCarouselAngledTrimHeight: 0;
$heroCarouselTextBackground: rgba(0, 0, 0, 0.3);

/* arrow assets for hybrid table */
$arrow-up: url(../vectors/arrow-up.svg); // TODO: this image is not good.
$arrow-down: url(../vectors/down-arrow.svg);

$breadcrumb-design-angle: 0deg;
$breadcrumb-angle-color: $brand-primary;

//
//  Grid - TODO: complete
// ========================================================================== */

$gutter-width: 1.5rem;
$element-top-margin: $gutter-width/3;
$element-bottom-margin: ($gutter-width*2)/3;

/* Button Border Width */
$button-skew-border: 2px;

$authrable-color-maroon:#750D2B;
$authrable-color-maroon-light:#AC264D;
$authrable-color-blue:#0072CE;
$authrable-color-blue-dark:#003EB6;
$authrable-color-skye-blue: #459AFF;
$authrable-color-orange:#CC3602;
$authrable-color-orange-light:#FF8352;
$authrable-color-green:#65FCA2;
$authrable-color-green-dark:#00DC78;
$authrable-color-gray:#E6E8EA;

$accordionCustomPadding: 20px 0 24px;
$eloqua-form-padding: 0;

/* Global Header */
$mobile-menu-bg-top: 20px;
