.item.det19-card-timeline, .timelineCard {
  max-width: 427px;
  z-index: 5;
  justify-self: start;
  align-self: start;
  position: relative;


  @media screen and (max-width: $mobile) {
    justify-self: center;
  }

  &.clickable {
    cursor: pointer;

    &:hover .read-more {
      border-bottom: 3px solid $hover-state;
      color: $hover-state;
    }

    .title {
      color: $brand-primary;
    }
  }

  .item-content {
    background: $base;
    position: relative;
    z-index: 2;
    height: 100%;

  }
  picture, img {
    width: 100%;
    max-height: 260px;
    display: block;
    @media screen and (max-width: $mobile) {
      max-height: 204px;
    }
  }

  .date {
    height: 40px;
    width: 97px;
    position: absolute;
    left: calc(#{$timeline-gutter} / -2);
    transform: translateX(-50%);
    top: 20px;
    border: 2px solid $base;
    background: $foundation-primary;
    border-radius: 100px;
    display: block;
    color: $base;
    text-align: center;
    padding: 6px 0;
    font-size: $font-m;
    line-height: 24px;
    font-weight: bold;
    pointer-events: none;

    @media screen and (max-width: $mobile) {
      left: 50%;
      top: -20px;
      transform: translate(-50%, -100%);
    }
  }

  .company {
    background: $brand-secondary;
    -webkit-print-color-adjust: exact;
    color: $foundation-primary;
    padding: 16px 24px 14px;
    position: absolute;
    top: 15px;
    left: 0px;
    height: 50px;
    font-weight: 700;

    font-size: $font-m;
    line-height: 20px;

    z-index: 3;

    &:before {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      transform: translateX(-100%);
      border-top: 25px solid transparent;
      border-right: 25px solid $brand-secondary;
      border-bottom: 25px solid transparent;
    }

    @media screen and (max-width: $mobile) {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      &:before {
        display: none;
      }
    }
  }

  .text {
    padding: 25px 40px 33px;
    @media screen and (max-width: $mobile) {
      padding: 25px 30px;
    }
  }
  .title {
    color: $foundation-primary;
    font-size: $font-l;
    line-height: 24px;
    margin-bottom: 5px;
    @media screen and (max-width: $mobile) {
      font-size: $base-font;
      line-height: 22px;
    }
  }

  p {
    line-height: 26px;
    @media screen and (max-width: $mobile) {
      line-height: 22px;
    }

  }

  .read-more {
    font-weight: 700;
    font-size: $font-m;
    line-height: 20px;
    margin: 17px 0 0 0;
    display: inline-block;
    border-bottom: 3px solid transparent;
    transition: border 340ms ease;
    @media screen and (max-width: $mobile) {
      font-size: $font-s;
      line-height: 20px;
    }
  }

  @media print, screen and (min-width: $mobile) {
    /* cards on the left */
    &:nth-child(odd) {
      justify-self: end;

      .date {
        left: auto;
        right: calc(#{$timeline-gutter} / -2);
        transform: translateX(50%);
      }

      .company {
        left: auto;
        right: 0px;
        &:before {
          left: auto;
          right: 0;
          transform: translateX(100%);
          border-right: 0;
          border-left: 25px solid $brand-secondary;

        }
      }

    }
  }
  .script {
    display: none;
  }
}
