select.form-dropdown,
select.form-dropdown-filter {
  width: 100%;
  border: 1px solid $border-primary;
  border-radius: 2px;
  padding: rem(12px) rem(30px) rem(12px) rem(24px);
  background: $base;
  color: $brand-primary;
  box-shadow: none;
  position: relative;
  font-size: $font-m;
  min-height: rem(46px);

  @media screen and (min-width: $mobile) {
    background: $base url("../vectors/carot-down.svg") right rem(18px) center no-repeat;
  }

  @media screen and (max-width: $tablet) {
    font-weight: bold;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    background: $base url("../vectors/carot-down.svg") right rem(18px) center no-repeat;
  }

  option {
    font-size: $font-m;
  }
  &:focus {
    outline: 2px solid $brand-primary;
  }

  + label {
    display: none;
  }

  /* Re-style Chosen.js dropdowns */
  ~ {
    .chosen-container .chosen-single {
      height: rem(50px);
      background: $base;
      border: 1px solid $border-primary;
      border-radius: 2px;
      width: 100%;
      padding: rem(12px) rem(30px) rem(12px) rem(20px);
      color: $brand-primary;
      font-size: $font-m;
      font-weight: 700;
      line-height: rem(26px);
      box-shadow: none;

      &:after {
        content: "";
        height: 10px;
        width: 6px;
        background: transparent url("../vectors/blue-carot.svg") center center
          no-repeat;
        background-size: contain;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
        transform-origin: center center;
        transition: transform 150ms ease-in;
      }

    }
    .chosen-container-single-nosearch.focus-within {
        outline: auto 5px Highlight;
        outline: auto 5px -webkit-focus-ring-color;

      }
    .chosen-with-drop .chosen-single:after {
      transform: translateY(-50%) rotate(-90deg);
    }
    .chosen-container-single-nosearch input {

    }
    .chosen-container .chosen-results li {
      padding: rem(20px);
      min-height: rem(60px);
      font-size: $font-m;
      color: $foundation-primary;
      width: 100%;
      transition: background 200ms ease-out;
      color: $foundation-primary;
      border-bottom: 1px solid $border-primary;
      margin-bottom: 1px;
      &:first-child {
        border-top: 1px solid $border-primary;
      }
      &:hover {
        font-weight: bold;
      }

      &.highlighted {
        background-color: $foundation-quaternary;
      }

      &.result-selected {
        font-weight: 700;
      }
    }

    .chosen-container .chosen-drop {
      box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);
      padding: 0;
    }
    .chosen-container .chosen-results {
      padding: 0;
      margin: 0;
    }

    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      .chosen-container .chosen-search-input{
        display: none;
      }
    }
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 2) {
    .chosen-container .chosen-search-input {
        display: none;
    }
}
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .chosen-container .chosen-search-input {
        display: none;
    }
}

/* Adding select2 custom css for accessible dropdowns */

.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  min-width: 115px;
  position: relative;
  vertical-align: middle; }
  .select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 50px;
    user-select: none;
    -webkit-user-select: none; }
    .select2-container .select2-selection--single .select2-selection__rendered {
      padding: rem(12px) rem(30px) rem(12px) rem(20px);
      color: $brand-primary;
      font-size: $font-m;
      font-weight: 700;
      line-height: rem(26px);
      box-shadow: none; }
    .select2-container .select2-selection--single .select2-selection__clear {
      position: relative; }
  .select2-container[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px; }
  .select2-container .select2-selection--multiple {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    min-height: 32px;
    user-select: none;
    -webkit-user-select: none; }
    .select2-container .select2-selection--multiple .select2-selection__rendered {
      display: inline-block;
      overflow: hidden;
      padding-left: 8px;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .select2-container .select2-search--inline {
    float: left; }
    .select2-container .select2-search--inline .select2-search__field {
      box-sizing: border-box;
      border: none;
      font-size: 100%;
      margin-top: 5px;
      padding: 0; }
      .select2-container .select2-search--inline .select2-search__field::-webkit-search-cancel-button {
        -webkit-appearance: none; }

.select2-dropdown {
  background-color: $base;
  border: 1px solid $border-primary;
  border-radius: 2px;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  min-width: 115px;
  z-index: 1051; }

.select2-results {
  display: block; }

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0; }

.select2-results__option {
  padding: 6px;
  user-select: none;
  -webkit-user-select: none;
  padding: rem(20px);
      min-height: rem(60px);
      font-size: $font-m;
      color: $foundation-primary;
      width: 100%;
      transition: background 200ms ease-out;
      color: $foundation-primary;
      border-bottom: 1px solid $border-primary;
      margin-bottom: 1px;
      &:first-child {
        border-top: 1px solid $border-primary;
      }
      &:hover {
        font-weight: bold;
      }

      &.highlighted {
        background-color: $foundation-quaternary;
      }
}
  .select2-results__option[aria-selected] {
    cursor: pointer; }

.select2-container--open .select2-dropdown {
  left: 0; }

.select2-container--open .select2-dropdown--above {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--open .select2-dropdown--below {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-search--dropdown {
  display: block;
  padding: 4px; }
  .select2-search--dropdown .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box; }
    .select2-search--dropdown .select2-search__field::-webkit-search-cancel-button {
      -webkit-appearance: none; }
  .select2-search--dropdown.select2-search--hide {
    display: none; }

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity=0); }

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; }

.select2-container--default .select2-selection--single {
  background-color: $base;
  border: 1px solid $brand-primary;
  border-radius: 2px; }
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: $brand-primary;
    line-height: 50px; }
  .select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold; }
  .select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #999; }
  .select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 46px;
    position: absolute;
    top: 1px;
    right: 1px;
    width: 20px; }
    .select2-container--default .select2-selection--single .select2-selection__arrow b {
      height: 10px;
        width: 6px;
        background: transparent url("../vectors/blue-carot.svg") center center
          no-repeat;
        background-size: contain;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%) rotate(90deg);
        transform-origin: center center;
        transition: transform 150ms ease-in;
      }

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__clear {
  float: left; }

.select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow {
  left: 1px;
  right: auto; }

.select2-container--default.select2-container--disabled .select2-selection--single {
  background-color: #eee;
  cursor: default; }
  .select2-container--default.select2-container--disabled .select2-selection--single .select2-selection__clear {
    display: none; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #888 transparent;
  border-width: 0 4px 5px 4px; }

.select2-container--default .select2-selection--multiple {
  background-color: white;
  border: 1px solid #aaa;
  border-radius: 4px;
  cursor: text; }
  .select2-container--default .select2-selection--multiple .select2-selection__rendered {
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0 5px;
    width: 100%; }
    .select2-container--default .select2-selection--multiple .select2-selection__rendered li {
      list-style: none; }
  .select2-container--default .select2-selection--multiple .select2-selection__placeholder {
    color: #999;
    margin-top: 5px;
    float: left; }
  .select2-container--default .select2-selection--multiple .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 10px; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #e4e4e4;
    border: 1px solid #aaa;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
    padding: 0 5px; }
  .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #999;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    margin-right: 2px; }
    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
      color: #333; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__placeholder, .select2-container--default[dir="rtl"] .select2-selection--multiple .select2-search--inline {
  float: right; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice {
  margin-left: 5px;
  margin-right: auto; }

.select2-container--default[dir="rtl"] .select2-selection--multiple .select2-selection__choice__remove {
  margin-left: 2px;
  margin-right: auto; }

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: solid black 1px;
  outline: 0; }

.select2-container--default.select2-container--disabled .select2-selection--multiple {
  background-color: #eee;
  cursor: default; }

.select2-container--default.select2-container--disabled .select2-selection__choice__remove {
  display: none; }

.select2-container--default.select2-container--open.select2-container--above .select2-selection--single, .select2-container--default.select2-container--open.select2-container--above .select2-selection--multiple {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.select2-container--default.select2-container--open.select2-container--below .select2-selection--single, .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0; }

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #aaa; }

.select2-container--default .select2-search--inline .select2-search__field {
  background: transparent;
  border: none;
  outline: 0;
  box-shadow: none;
  -webkit-appearance: textfield; }

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto; }

.select2-container--default .select2-results__option[role=group] {
  padding: 0; }

.select2-container--default .select2-results__option[aria-disabled=true] {
  color: #999; }

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #ddd; }

.select2-container--default .select2-results__option .select2-results__option {
  padding-left: 1em; }
  .select2-container--default .select2-results__option .select2-results__option .select2-results__group {
    padding-left: 0; }
  .select2-container--default .select2-results__option .select2-results__option .select2-results__option {
    margin-left: -1em;
    padding-left: 2em; }
    .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
      margin-left: -2em;
      padding-left: 3em; }
      .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
        margin-left: -3em;
        padding-left: 4em; }
        .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
          margin-left: -4em;
          padding-left: 5em; }
          .select2-container--default .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option .select2-results__option {
            margin-left: -5em;
            padding-left: 6em; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #5897fb;
  color: white; }

.select2-container--default .select2-results__group {
  cursor: default;
  display: block;
  padding: 6px; }


  .select2-container .select2-results li {
    padding: rem(20px);
    min-height: rem(60px);
    font-size: $font-m;
    color: $foundation-primary;
    width: 100%;
    transition: background 200ms ease-out;
    color: $foundation-primary;
    border-bottom: 1px solid $border-primary;
    margin-bottom: 1px;
    &:first-child {
      border-top: 1px solid $border-primary;
    }
    &:hover {
      font-weight: bold;
    }

    &.highlighted {
      background-color: $foundation-quaternary;
    }

    &.result-selected {
      font-weight: 700;
    }
    &.flag-icon {
      background-size: 25px 14.5px;
      background-position: 17px center;
      padding-left: 55px;
      background-repeat: no-repeat;
    }
  }

