.det20-modal-overlay {
  pointer-events: none;
  visibility: hidden;
  z-index: -1;
  opacity: 0;
  transition: opacity 300ms ease, outline 300ms ease;
  outline: 10vh solid rgba(0,0,0,0);
  &.active {
    visibility: visible;
    z-index: 6;
    opacity: 1;
    outline: 10vh solid rgba(0,0,0,.5);
    pointer-events: auto;
    z-index: 99999;
  }

  position: fixed;
  top: 5vh;
  left: 5vw;
  width: 90vw;
  height: 90vh;
  background: $base;
  padding: 8vw $content-padding-desktop;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  .close-top {
    content: "Close";
    color: $brand-primary;
    position: absolute;
    top: rem(39px);
    right: rem(40px);
    cursor: pointer;
    background: url(../vectors/close.svg) center right no-repeat;
    background-size: 12px 12px;
    padding-right: rem(18px);
    font-size: $font-m;
    line-height: rem(20px);
    font-weight: 700;
  }

  .close-bottom {
    border: 2px solid $brand-primary;
    color: $brand-primary;
    font-weight: 700;
    border-radius: 2px;
    display: block;
    margin: 2em auto 0;
    padding: 0 rem(30px);
    height: 60px;
  }

  h2 {

  }
}

body.modal-open {
  overflow: hidden;
}
