.det02-card-primary-content {
  width: 328px;
  background: $base;
  position: relative;
  display: inline-block;
  vertical-align: top;

  &:last-child {
    margin-left: 0;
  }

  picture img {
    width: 100%;
    height: auto;
  }

  .text {
    background: $base;
    padding: 22px 30px 40px;
    height: auto;
    h3 {
      color :$brand-primary;
      font-size: $font-xl;
      line-height: 26px;
    }
    p {
      padding: 7px 0;
      overflow: hidden;
      text-overflow: ellipsis;
      min-height: 150px;
      font-size: $font-m;
      line-height: 26px;
    }
    a {
      display: block;
      font-size: $font-m;
      font-weight: 700;
      position: absolute;
      bottom: 25px;
      left: 30px;
      width: 78%;

      &:after {
        content: "";
        display: inline-block;
        width: 13px;
        height: 13px;
        background: url(../vectors/link-out.svg) center center no-repeat;
        background-size: 100% auto;
        vertical-align: middle;
        margin-left: 9px;
        position: absolute;
        margin-top: 4px;
      }
      &.internal:after {
        background-image: url(../vectors/hyperlink-arrow-positive.svg);
        width: 18px;
        height: 10px;
      }
    }
  }

  @supports (display: inline-grid) {

    display: inline-grid;

    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    .text {
      align-self: start;
      height: 100%;
    }

    @media screen and (max-width: $tablet) and (min-width: 500px) {
      grid-template-columns: 1fr minmax(200px, 1fr);
      grid-template-rows: 1fr;
      height: auto;
      .text {
        position: relative;
      }

      picture img {
        height: 100%;
        object-fit: cover;
      }
    }

  }
  @media screen and (max-width: $tablet) {
       width: 100%;
  }
  @supports (display: grid) {
      width: 100%;
  }

}
