.det25-card-feature {
  background: $base;

  display: block;

  > div {
    width: 100%;
  }

@supports (display: grid) {
  @media screen and (min-width: $tablet) {
    > div {
      width: 50%;
    }

    display: flex;
    flex-direction: row-reverse;
  }
  picture {
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    img {
      width: auto;
      height: 100%;
      @media screen and (max-width: $tablet) {
        width: 100%;
        height: auto;
      }
      @supports (object-fit: cover) {
        object-fit: cover;
        object-position: center center;
        width: 100%;
      }
    }
  }
}
@media screen and (max-width: $tablet) {
  > div {
    width: 100%;
  }
  display: block;
  flex-direction: row-reverse;
}

@media screen and (min-width: $tablet) {
  > div {
    width: 50%;
  }

  display: flex;
  flex-direction: row-reverse;
}


  picture {
    display: block;
    height: 100%;
    overflow: hidden;
    position: relative;
    img {
      height: 100%;
      @media screen and (max-width: $tablet) {
        width: 100%;
        height: auto;
      }
      @supports (object-fit: cover) {
        object-fit: cover;
        object-position: center center;
        width: 100%;
      }
    }
  }

  .text {
    @include padding(xlarge);
    background: $base;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media screen and (min-width: $tablet) {
      justify-content: flex-start;
      padding-bottom: 90px;
    }

    h3 {
      color: $brand-primary;
      font-size: $heading-s;
      line-height: 30px;
      @media screen and (max-width: $mobile) {
        font-size: $font-xl;
        line-height: 24px;
      }
    }
    p {
      margin: 8px 0;
      font-size: $font-m;
      line-height: rem(26px);
    }
    a {
      font-size: $font-m;
      line-height: 20px;
      font-weight: 700;
      position: relative;

      @media screen and (min-width: $tablet) and (orientation: landscape) {
        right: 0;
      }

      @media screen and (min-width: $tablet) {
        display: inline-block;
        position: absolute;
        bottom: 30px;
        width: 70%;
        left: 29px;
      }

      &:after {
        content: "";
        background: url(../vectors/hyperlink-arrow-positive.svg) center center no-repeat;
        background-size: contain;
        width: 18px;
        height: 21px;
        display: inline-block;
        vertical-align: middle;
        margin-left: 8px;
        position: absolute;
      }

      &.external:after {
        background-image: url(../vectors/link-out.svg);
        width: 13px;
        height: 13px;
        margin-top: 5px;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .con14-cards-2-column .cards > .aem-Grid > div{
    float: none;
  }
}
