.det23-article-header {
  .eyebrow {
    font-size: $font-sm;
    line-height: 20px;
    color: $foundation-primary;
    font-weight: bold;
    margin-bottom: 16px;
    display: block;
  }

  .author {
    font-size: $font-sm;
    line-height: 20px;
    font-weight: bold;
    margin-bottom: 26px;
    display: block;
    margin-top: 24px;
    @media screen and (max-width: $mobile){
      margin-top: 28px;
    }
  }

  .revision {
    font-weight: bold;
    font-size: $font-sm;
    line-height: 20px;
  }

  picture {

  }

  .intro {
    margin: 10px 0 0;

    p {
      margin-bottom: 1em;
      &:last-child{
        margin-bottom: 0;
      }
    }

  }

  .caption {
    font-size: $font-m;
    line-height: 20px;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

.articleHeader + .anchorNavigation .feature-flag > .band {
  padding-top: 0;
}
