.det23-article {
  article {
    .body {
      grid-column:span 1;
      @media screen and (max-width: $mobile) {
        grid-column: span 1;
      }
      
      p {
        font-size: $font-l;
        line-height: 32px;
        margin-bottom: 15px;
      }
      a {
        font-size: $font-l;
        line-height: 32px;
      }
    }

    header {
      padding-bottom: 30px;
      margin-bottom: 0;
      @media screen and (max-width: $mobile){
        padding-bottom: 41px;
      }
    }
    .inner-nav-wrapper {
      margin-top: 0;
    }

    @supports (display: grid) {
      display: grid;
      grid-template-columns: 1fr min-content;
      grid-auto-flow: row;
      justify-content: start;
      grid-gap: 50px 104px;

      @media print {
        grid-template-columns: 1fr;
      }
      @media screen and (max-width: $mobile) {
        grid-template-columns: 1fr;
      }

      header{
        text-align: left;
        grid-column: span 2;
        margin: 0;
      }

      .body {
        grid-column: span 1;
      }  
    }

  }
}
.band.white.det23-article {
  padding: 91px $content-padding-desktop 40px;
  @media screen and (max-width: $mobile){
    padding: 43px 5vw 0;
    header.det23-article-header {
      padding-bottom: 0;
    }
  }
}
