.det30-hotspot-image {
  display: block;
  position: relative;
  outline: 1px solid $border-secondary;
  height: 527px;
  @media screen and (max-width: $mobile) {
    max-height: 90vh;
  }

  /* The picture tag is what gets the overflow */
  picture {
    width: 100%;
    overflow: auto;
    display: block;
    position: relative;
    z-index: 5;   
    max-width: $content-width;
    overflow: auto;
    &::-webkit-scrollbar {
      -webkit-appearance: none;
      width: 5px;
      height: 4px;
    }
    &::-webkit-scrollbar-thumb {
      appearance: none;
      border-radius: 4px;
      background-color: rgba(0,114,206, 0.4);
      transition: background 300ms ease;
    }
    &:hover::-webkit-scrollbar-thumb {
      background-color: rgba(0,114,206,0.6);
    }
    font-size: 0;
    @media screen and (max-width: $mobile) {
    max-height: 90vh;
  }
  }
  img {
    image-rendering: crisp-edges;
    width: auto;
    width: $content-width;
    max-width: $content-width;
    position: relative;
    z-index: 5;
    margin: 0;
    max-height: 527px;
    padding: 0;

  }
  .caption {
    position: absolute;
    left: 0;
    bottom: -50px;
    z-index: 6;
    @media screen and (max-width: $mobile) {
      bottom: -40px;
    }
  }
  .modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.95);
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0 170px;
    z-index: 4;
    opacity: 0;
    overflow: hidden;
    transition: opacity 440ms ease-out, z-index 0ms 400ms linear,
    box-shadow 440ms ease-out;
    max-height: 100%;
    @media screen and (max-width: $mobile) {
      padding: 0 40px;
    }
    @media screen and (max-width: $tablet) {
      padding: 0 20px;
    }

    .close_top{
      top:6px;
    }

    /* When modal is active, because user has clicked a link to its ID as the url hash  */
    &:target, &.active {
      z-index: 7;
      opacity: 1;
      transition: opacity 440ms ease-in, z-index 0ms 0ms linear,
        box-shadow 4400ms ease-out;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    h3 {
      font-size: $heading-s;
      line-height: 30px;
      @media screen and (max-width: $tablet) {
        font-size: $font-l;
        line-height: 24px;
      }
    }
    .text {
      margin: 17px 0 29px 0;
      max-height: 45%; 
      
      padding-right: 10px;
      padding-bottom: 40px;
      z-index: 10;
      width: 100%;
      overflow: auto;
      &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 5px;
        height: 4px;
      }
      &::-webkit-scrollbar-thumb {
        appearance: none;
        border-radius: 4px;
        background-color: rgba(0,114,206, 0.4);
        transition: background 300ms ease;
      }
      &:hover::-webkit-scrollbar-thumb {
        background-color: rgba(0,114,206,0.6);
      }
      @media screen and (max-width: $tablet) {
        font-size: $font-m;
        line-height: 26px;
        max-height: 65%;
      }
    }

    /* White gradient overlay indicating scroll content */
    > a {

      &:before {
        content: "";
        width: 100vw;
        max-width: $content-width;
        height: 100px;
        z-index: 12;
        display: block;
        position: absolute;
        left: 0;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
        transform: translateY(-100%);
        pointer-events: none;
      }
    }
  }
}
