.global-nav .nav-search {
  position: absolute;
  top: 15px;
  z-index: 3;

  @media screen and (min-width: $mobile) {
    z-index: 1;
    width: 300px;
    height: 74px;
    right: 10.5%;
    top: 40px;

  }

  @media screen and (min-width: $tablet) {
    z-index: 1;
  }

  @supports (display: grid) {
    width: auto;
    height: auto;
    position: relative;
    right: unset;
    top: unset;
  }

  .nav-search-wrap {
    position: relative;
  }

  text-align: right;

  .top-search {
    -webkit-appearance: none;
    border: 1px solid $border-secondary;
    border-radius: 2px;
    padding: 7px 38px;
    height: 40px;
    width: 232px;
    transition: width 300ms ease-out;
    font-size: $font-sm;
    font-family: $body-font;

    &::placeholder {
      color: $foundation-primary;
    }

    &:focus {
      padding-left: 14px;
      color: $foundation-primary;
      outline: none;
      width: 299px; 
      ~ .submit-search {
        right: 5px;
        transform: rotate(90deg);
        background-color: $base;
        z-index: 1;
      }     
    }

    &::-ms-clear {
      /* Remove IE default X */
      display: none;
    }
  }

  ::-webkit-search-cancel-button {
    opacity: 0;
  }

  .reset-search {
    height: 40px;
    width: 10px;
    padding: 0 5px;
    background: url(../vectors/close.svg) center center no-repeat;
    cursor: pointer;
    position: absolute;
    right: 15px;
    transition: all 300ms ease;
    font-size: 0;
    opacity: 0;
    border: 0;

    &:focus {
      outline: none;
    }

    @media screen and (min-width: $mobile) {
      pointer-events: none;
    }
  }

  @media screen and (min-width: $mobile) {
    .is-active {
      .reset-search {
        opacity: 1;
        pointer-events: initial;
      }
      .top-search {
        &:focus {
          ~ .submit-search {
            right: 5px;
            transform: rotate(90deg);
          }
        }
      }      
    }
  }

  .submit-search {
    width: 15px;
    height: 41px;
    position: absolute;
    margin: 0 10px 0 0;
    font-size: 0;
    right: 192px;
    bottom: 0;
    background: transparent url(../vectors/search.svg) center center no-repeat;
    background-size: contain;
    transition: all 300ms ease;
    display: block;

    &:focus {
      outline: none;
    }
  }

  button.submit-search {
    opacity: 0;
    visibility: hidden;
    right: 180px;
  }

  .is-hover {
    label.submit-search {
      opacity: 0;
    }

    button.submit-search {
      opacity: 1;
      visibility: inherit;
    }
  }

  @media screen and (min-width: $mobile) {
    .is-hover {

      .submit-search,
      input:hover + .submit-search,      
      input:valid + .submit-search {
        right: 5px;
        cursor: pointer;
        transform: rotate(90deg);

        &:hover {
          transform: rotate(90deg) scale(1.5);
        }

      }
    }    
  }

  /* Desktop search focus behavior */

  /* Search on mobile */
  @media screen and (max-width: $mobile) {
    text-align: left;
    padding: 0 20px;

    input.top-search {
      width: 20px;
      border: none;
      padding: 0;
      outline: 0;
      font-size: 0;

      &:active,
      &:focus {
        width: 83vw;
        padding: 5px 0 5px 40px;
        background: $base;
        font-size: 1em;
      }

      &:focus+input.submit-search {
        z-index: 1;
      }
    }

    ::placeholder {
      display: none;
      font-size: 0;
    }

    .submit-search,
    input.submit-search {
      top: 0;
      right: auto;
      width: 20px;
      left: 0;
    }

    input.submit-search {
      z-index: -999;
    }

    .is-hover {
      width: 95vw;
      background: $base;
      position: relative;

      .reset-search {
        opacity: 1;
        top: 0;
        width: 25px;
      }

      .twitter-typeahead {
        width: 95vw;
      }

      input.submit-search {
        z-index: 1;
      }
    }
  }

  .twitter-typeahead {
    width: auto;
  }
}
