a.back-to-top {
  display: none;
  @media screen and (min-width: $mobile) {
    display: block;
  }
  width: 120px;
  padding-bottom: 40px;
  position: fixed;
  right: 15px;
  bottom: 15px;
  opacity: 0;
  color: $brand-primary;
  font-weight: bold;
  font-size: $font-m;
  z-index: 10;
  line-height: 20px;
  text-align: center;
  transition: opacity .2s .2s ease-in;
  background: transparent url("../vectors/back-to-top.svg") center bottom no-repeat;
  &:hover {
    text-decoration: underline;
  }
}