.hro03-product-header {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $base;

  .panel {
    background-color: $brand-primary-darker;
    z-index: 1;

    picture {
      width: 100%;
      height: 320px;
      display: block;

      @media screen and (max-width: $mobile) {
        width: 100vw;
        height: 200px;
      }

      img {
        width: 100%;
        height: 100%;

        @supports (object-fit: cover) {
          object-fit: cover;
        }
      }
    }
  }

  dialog[open] {
    top: 86px;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    border: none;
    max-width: 80vw;
    margin: 0;
    left: 50%;
    transform: translateX(-50%);

    .c-button {
      margin-top: 30px;
    }

    &::backdrop {
      background: rgba(0, 0, 0, 0.8);
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  dialog[open]+.backdrop {
    background: rgba(0, 0, 0, 0.8);
    ;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    display: block;
  }

  .band-content {
    max-width: $content-width;
    width: 80vw;
    margin: 0 $content-padding-desktop;
    padding-top: 40px;
    padding-bottom: 23px;
    border-bottom: 1px solid $border-secondary;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 2;

    @media screen and (max-width: $mobile) {
      width: 90vw;
      margin: 0 5vw;
      flex-direction: column;
    }

    /* <a> */
    .product-logo {
      z-index: 5;
      order: 1;
      position: relative;
      overflow: hidden;
      &.no-product-logo{
        visibility: hidden;
      }
      &.p-without-image {
        visibility: hidden;
        @media screen and (min-width: $tablet) {
          display: none;
        }
      }

      @media screen and (max-width: $mobile) {
        order: 0;
        width: 132px;
        height: 86px;
        overflow: hidden;
        border-radius: 0px 0px 4px 0px;

        /* Expand icon only visible on mobile */
        /*         &:after {
          content: "";
          position: absolute;
          right: 0;
          bottom: 0;
          display: block;
          width: 20px;
          height: 20px;
          background: #185EE5 url(../vectors/expand.svg) center center no-repeat;
          background-size: 60%;
        } */
      }

      @media screen and (min-width: $mobile) {
        width: 241px;
        height: 154px;
      }

      background: $base;
      box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.15);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -77px;

      img {
        width: 100%;
        max-width: 188px;
        height: auto;

        @media screen and (max-width: $mobile) {
          width: 100px;
        }
      }
    }

    .header-text {
      display: inline-block;

      @media screen and (min-width: $mobile) {
        max-width: 75%;
      }

      @media screen and (max-width: $mobile) {
        margin-top: 25px;
      }
    }

    .product-title {
      @extend h1;

      sub,
      sup {
        font-size: 50%;
      }
    }

    .product-category {
      font-size: $font-xl;
      line-height: 26px;
      margin-top: 20px;

      .pipe {
        color: $border-light;
      }

      @media screen and (max-width: $mobile) {
        font-size: $font-l;
        line-height: 24px;
        margin-top: 3px;
      }
    }
  }

  &.no-panel {
    color: $base;
    position: relative;

    .panel {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: auto;
      min-height: 200px;

      @media screen and (max-width: $mobile) {
        height: auto;
        min-height: 150px;
      }

      &.line-extended {
        min-height: 200px;
      }

      &.extended {
        min-height: 250px;
      }
    }

    .band-content {
      align-items: baseline;
      padding-top: 0;

      @media screen and (max-width: $mobile) {
        padding-top: 30px;
      }

      .product-logo {
        margin-top: 0;
        transform: translateY(45px);

        &.extended {
          transform: translateY(127px);

          @media screen and (max-width: $mobile) {
            transform: translateY(177px);
          }
        }

        &.line-extended {
          transform: translateY(77px);

          @media screen and (max-width: $mobile) {
            transform: translateY(127px);
          }
        }
      }

      .product-title {
        color: $base;

        @media screen and (max-width: $mobile) {
          line-height: 40px;
        }

        @media screen and (min-width: 470px) {
          height: 201px;
          display: inline-flex;
          align-items: center;
        }

        @media screen and (min-width: 471px) and (max-width:$mobile) {
          height: auto;
        }
        
        @media screen and (min-width: 768px) and (max-width: 992px) and (orientation: portrait)  {
          height: auto;
        }
        
      }

      .product-category {
        margin-top: 22px;
        color: $foundation-primary;

        @media screen and (max-width: $mobile) {
          margin-top: 100px;
        }
      }

      .product-logo {
        @media screen and (max-width: $mobile) {
          position: absolute;
          right: 0;
        }        
        
      }
    }
  }
}


