.atm01-header-v1__wrapper {
    text-align: center;
    max-width: $content-width;
    margin: 0 auto;
    margin-bottom: rem(39px);
    @media screen and (max-width: $mobile) {
        margin-bottom: rem(18px);
    }
    @media print {
        margin: 0;
    }
    a{
        color: $foundation-primary;
    }

    h2 {
        font-family: $brand-font;
        font-weight: 700;
        @media print {
            color: $foundation-primary;
            text-align: left;
        }
    }
    p {
        font-size: $font-xl;
        line-height: rem(32px);
        -webkit-font-smoothing: subpixel-antialiased;
    }
    &.white {
        h2,
        p {
            color: $base;
        }
    }
    @media screen and (max-width: $mobile) {
        h2 {
            font-size: $heading-s;
            line-height: rem(28px);
        }
    }
}
.tilesContainer {
    .atm01-header-v1__wrapper {
        margin-bottom: 0;
        @media screen and (max-width: $mobile) {
            margin-bottom: 0;
        }
    }
}

.atm01-header-v1__wrapper p {
    width: 80%;
    margin: 11px auto 0;
    @media print {
        color: $foundation-primary;
        text-align: left;
        margin: 0;
        width: 100%;
    }
    @media screen and (max-width: $mobile) {
        font-size: $base-font;
        line-height: rem(22px);
        width: 100%;
    }
}
