@media (min-width: 600px) {
    .parsys_column {
        margin: 0;
    }

    .cq-colctrl-lt0-c0, .cq-colctrl-lt0-c1 {
        float: left;
        width: 48%;
    }

    .cq-colctrl-lt0-c0 {
        margin-right: 2%;
    }

    .bgdss-contactForm {
        padding: 2% 5.8%;
        line-height: 2.5rem;
        font-family: 'helvetica', helvetica, sans-serif;
        color: $foundation-primary;
        font-size: 15px;
        width: 70%;
    }
}

@media (max-width: 991px) {
    .bgdss-contactForm {
        width: 90%;
    }

    select {
        width: 90%;
        height: 25px;
    }
}

input, textarea {
    width: 100%;
}

select {
    width: 40%;
    height: 30px;
    display: block;
}

input[type=submit] {
    width: auto;
}

.bgdss-blackBtn {
    margin-top: 20px;
}

.form_leftcolmark, .errormessage {
    display: inline-block;
    color: #c6001e;
    line-height: 1.5em;
    margin-left: 2px;
    vertical-align: middle;

    .cq-colctrl-lt0-c1 {
        margin-left: 2%;
    }
}

.bgdss-blackBtn {
    background: #185ee5;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: $font-m;
    font-weight: 700;
    padding: 23px 37px;
    border-radius: 3px;
    line-height: 14px;
    display: inline-block;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}
