$angledTrimTop: calc(#{$heroCarouselHeight} - #{$heroCarouselButtonRowBottom});
$smMobileAngledTrimTop: calc(#{$heroCarouselHeight} - #{$heroCarouselMobileButtonRowBottom}*1.5);
$mobileAngledTrimTop: calc(#{$heroCarouselHeight} - #{$heroCarouselMobileButtonRowBottom}*1.2);
$textPaddingBottom: calc(130px + #{$heroCarouselButtonRowBottom});

.c-hro3__wrapper {
  overflow: hidden;
  position: relative;
  height: $heroCarouselHeight;

  .angled-wrapper {
    overflow: hidden;
    position: absolute;
    z-index: 1;
    width: 110%;
    height: 100%;
    top: 0;
    left: -10%;
    transform-origin: bottom right;
    transform: rotate($heroCarouselWrapperAngle);

    @media only screen and (max-width: $mobile) {
      left: -50%;
      width: 150%;
      transform: rotate($heroCarouselMobileWrapperAngle);
    }
  }

  .band {
    margin-left: 10%;

    @media only screen and (max-width: $mobile) {
        margin-left: 32%;
    }
  }

  .angled-trim {
    position: absolute;
    z-index: 0;
    top: $angledTrimTop;
    left: 0;
    background-color: $brand-secondary;
    width: 50%;
    height: $heroCarouselAngledTrimHeight;
    transform-origin: top left;
    transform: skew(0, -7deg);

    @media only screen and (max-width: $mobile) {
      top: $mobileAngledTrimTop;
    }

    @media only screen and (max-width: 500px) {
      top: $smMobileAngledTrimTop;
    }
  }

  .carousel-hero {
    background: $foundation-primary;
    transform: rotate(-$heroCarouselWrapperAngle);
    transform-origin: bottom right;

    @media only screen and (max-width: $mobile) {
      transform: rotate(-$heroCarouselMobileWrapperAngle);
    }
  }

  .flickity-viewport {
    height: $heroCarouselHeight;
  }

  .carousel-cell {
    width: 100%;
    height: $heroCarouselHeight;
    margin-right: 0px;
    counter-increment: carousel-cell;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;

    &:after {
      content: '';
      width: 100vw;
      height: 100%;
      opacity: .6;
      position: absolute;
      display: block;
      z-index: 1;
      top: 0;
      background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0));
    }

    picture {
      img {
        position: absolute;
        width: auto;
        height: auto;
        left: 50%;
        transform: translateX(-50%);
        @supports (object-fit: cover) {
          width: 100%;
          height: 100%; object-fit: cover; left: 0; transform: none; }
      }
    }

    .text {
      z-index: 10 !important;
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-bottom: $textPaddingBottom;
      max-width: $content-width;
      margin: 0 auto;
      transition: transform 660ms ease-out;
      transform: translateX(-150vw);

      >* {
        width: 100%;
      }

      h1 {
        color: $base;
        text-shadow: 0px 0px 0.2em rgba(0, 0, 0, 0.5);
        width: 65%;
        @media only screen and (max-width: $mobile) {
          width: 100%;
        }
      }

      p {
        color: $base;
        font-weight: bold;
        margin: 0 2px 17px;
        text-transform: none;
        text-shadow: 0px 0px 0.2em rgba(0, 0, 0, 0.5);
        @media only screen and (max-width: $mobile) {
          margin: 0 2px 11px;
        }
      }
    }

    &.is-selected .text {
      transform: none;
    }

    &.is-selected ~ .carousel-cell .text {
      transform: translateX(100vw);
    }
  }
}

@media only screen and (max-width: $mobile) {
  .atm02-button-wrapper {
    position: absolute;
    width: 93.5%;
    top: 46.5vh;
  }
}

/* ---- button-row ---- */
.c-hro3__button-row {
  text-align: center;
  z-index: 5;
  position: absolute;
  bottom: $heroCarouselButtonRowBottom;
  width: 100%;
  padding: 20px $content-padding-desktop 24px;
  @media only screen and (max-width: $mobile) {
    padding-left: 5vw;
    padding-right: 5vw;
    bottom: $heroCarouselMobileButtonRowBottom;
  }

  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  transition: background 340ms ease;
  &:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  @media screen and (max-width: $tablet) {
    backdrop-filter: none;
    padding-bottom: 50px;
    background-color: $heroCarouselTextBackground;
    &:hover {
      background-color: $heroCarouselTextBackground;
     }
  }

  .button {
    $fade-color: rgba(255, 255, 255, 0.3);
    $active-color: rgba(255, 255, 255, 1);
    width: auto;
    width: 25%;
    height: auto;
    color: $active-color;
    display: inline-block;
    vertical-align: bottom;
    text-align: left;
    font-weight: 700;
    border-bottom: 4px solid $fade-color;
    border-radius: 0px;
    transition: all .2s ease-in-out;
    background-color: transparent;
    flex-shrink: 1;
    counter-increment: buttons;
    padding: 1em 10px 1em 55px;
    position: relative;
    &:before {
      content: counter(buttons);
      width: 34px;
      height: 34px;
      display: block;
      border: 2px solid $fade-color;
      color: $active-color;
      border-radius: 50%;
      line-height: 30px;
      font-size: $font-m;
      text-align: center;
      position: absolute;
      left: 0;
      transition: border 340ms ease;
      top: 34px;
    transform: translateY(-50%);
    }

    &:focus {
      outline: none;
    }

    &.is-selected, &:hover {
      color: $active-color;
      cursor: pointer;
      border-bottom: 4px solid $active-color;
      &:before {
        border: 2px solid $active-color;
      }
    }

    @media screen and (max-width: $tablet) {
      height: auto;
      width: 40px; padding: 0; font-size: 0; margin-right: 10px; &:before {
        display: none;
      }
    }
  }
}

/* ---- button-group ---- */
.button-group {
  vertical-align: bottom;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  justify-items: space-between;
}

.carousel-cell .c-button {
  margin: 29px 0 0;
  //background: $base;
  //color: $brand-primary;
  border: none;
  @media only screen and (max-width: $mobile) {
    font-size: $font-s;
    margin: 23px 0 0;
  }
}
