.global-nav .main {
  /* Subnavs/dropdowns */
  @media print {
    > ul > li nav {
      display: none;
    }
  }
  @media screen and (min-width: $mobile) {
    > ul > li nav {
      position: absolute;
      z-index: -1;
      left: 0;
      top: 168px;
      width: 100%;
      border-bottom: none;
      padding-left: $content-padding-desktop;
      padding-right: $content-padding-desktop;
      height: 0px;
      overflow: hidden;
      background: $base;
      transition: all 400ms 100ms ease;

      @supports (display: grid) {
        top: 168px;
      }

      .subnav {
        opacity: 0;
        transition: opacity 200ms ease;
      }
    }
    > ul > li.active nav {
      overflow: visible;
    }

    /*
        Showing the dropdown

        When you:
          -Hover (with mouse) over the li that contains it
          -Focus (with tabbing) on the link next to it
          -Focus (with tabbing) on a link inside of the dropdown. *Handled via JS

    */
    > ul > li:hover nav,
    > ul > li a:focus + nav,
    > ul > li a.active + nav,
    > ul > li a:focus + .cq-dd-paragraph nav,
    > ul > li a.active + .cq-dd-paragraph nav {
      opacity: 1;
      z-index: 10;
      height: 250px;
      transition: height 400ms ease;
      .subnav {
        opacity: 1;
        transition: opacity 400ms 200ms ease;
      }
    }
    > ul > li:hover > a.has-dropdown,
    > ul > li > a.active {
      border-bottom: 4px solid $brand-primary;
    }   

    .subnav {
      max-width: $content-width;
      margin: 0 auto;
      width: 100%;
      padding: 40px 0;
      font-size: 0;

      display: flex;
      justify-content: flex-start;


      .image {
        width: 220px;
        height: 149px;
        background: transparent top center no-repeat;
        background-size: cover;
      }

      .featured {
        display: inline;
        width: 30%;
        margin: 0 40px;
      }
      > ul {
        flex-grow: 2;
        flex-direction: column;
        flex-wrap: wrap;
        height: 165px;
        display: flex;
        flex-wrap: wrap;
        li {
          margin: 0 14px 4px 0;
          width: 31%;
        }
      }
      p {
        margin-top: rem(8px);
        font-size: $font-s;
        line-height: rem(20px);
      }
      a {
        font-family: $brand-font;
        color: $brand-primary;
        font-weight: 700;
        text-transform: uppercase;
        font-size: $font-sm;
        display: block;
        margin-bottom: 4px;
        letter-spacing: 1px;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  /* Setup subnavs for mobile */
  @media screen and (max-width: $mobile) {
    li nav {
      display: none;
    }

    > ul > li {
      display: block;
      height: auto;
      margin: 0;
      padding: 0;
    }
  }


}
