.con06-label-finder {
  header .subhead {
    font-size: $font-l;
    line-height: 32px;
  }
  .results-num {
    text-align: right;
    font-weight: bold;
    font-size: $font-m;
    line-height: 24px;
    margin-top: -10px;
    margin-bottom:10px;
    @media screen and (max-width: $mobile) {
      text-align: left;
      margin-bottom:36px;
    }
  }
  .result{
    margin-top: -10px;
  }

  .sidebar {
    margin-left:0;
    .filters-show {
      display: none;
      @media screen and (max-width: $mobile) {
        display: block;
        width: 100%;
      }
    }
    form {
      fieldset {
        margin-bottom: 25px;
        position: relative;
        + .product-filter-border {
          border-top: 1px solid $border-quaternary;
          margin-top: 38px;
          padding-top: 33px;
          margin-bottom: 40px;
        }
        > label:not(.hide) {
          font-size: $font-sm;
          font-weight: bold;
          line-height: 24px;
          margin-bottom: 7px;
          display: block;
        }
        .select2-container:nth-of-type(n + 2) {
          margin-top: 15px;
        }
      }
      .filters-done {
        display: none;
        @media screen and (max-width: $mobile) {
          display: inline-block;
          margin-bottom: 30px;
        }
      }
      @media screen and (max-width: $mobile) {
        padding-top: 40px;
        position: fixed;
        top: -100vw;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 10;
        background: $base;
        padding-left: $content-padding-mobile;
        padding-right: $content-padding-mobile;
        opacity: 0;
        pointer-events: none;
        transition: opacity 340ms ease-out, top 340ms ease-out;
        overflow:scroll;
        &.active {
          display: block;
          opacity: 1;
          pointer-events: inherit;
          top: 0;
        }
        .c-button {
          width: 100%;
          padding: rem(16px) rem(23px);
        }
      }
      @media screen and (max-width: $mobile){
        select.form-dropdown, select.form-dropdown-filter{
          display:block;
        }
        .childFilterMapKey{
          margin-top:10px;
        }
      }
      @media screen and (min-width: $mobile){
        select.form-dropdown, select.form-dropdown-filter{
          display:none !important;
        }
      }
    }
    @media screen and (max-width: $mobile) {
      border-bottom: 1px solid $border-secondary;
      padding-bottom: 40px;
      margin-bottom: 40px;


    }
    .select2-container:nth-of-type(n + 2) {
      margin-top: 15px;
    }
    .select2-container .chosen-drop{
      z-index:1;
    }
  }
  .search-results {
    .c-button {
      margin: 50px auto 0;
      display: inline-block;
      position: relative;
      left: 40%;
    
      @supports (max-width: max-content) {
        display: block;
        max-width: max-content;
        width: intrinsic;           /* Safari/WebKit uses a non-standard name */
        width: -moz-max-content;
        width: -webkit-max-content;
        position: static;
      }
    }
    .search-result-item {
      border-bottom: 1px solid $border-secondary;
      margin-bottom: 25px;
      padding-bottom: 23px;
      max-width: 500px;

      &:last-of-type {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }
      .title {
        color: $brand-primary;
        font-size: $font-l;
        line-height: 28px;
        font-weight: 700;
        font-family: $brand-font;
        margin-bottom: 8px;
        display: block;
        @media screen and (max-width: $mobile) {
          line-height: 24px;
        }
        @media only screen and (min-width: $tablet) {
          font-size: $font-xl;
        }
      }
      .type {
        font-size: $font-sm;
        line-height: 20px;
        font-weight: bold;
        margin-bottom: 6px;
        display: inline-block;
        &::after{
          cotent:'|';
          padding:0 5px 0 5px;
        }
      }
      .description {
        font-size: $font-m;
        line-height: 30px;
        @media screen and (max-width: $mobile) {
          line-height: 26px;
        }
        @media only screen and (min-width: $tablet) {
          font-size: $base-font;
        }
      }
    }
  }
  .childfilter {
    .select2-container {
        margin-top: 15px;
     }
  }
}
.con06-label-finder-help-finding {
  background: $foundation-tertiary;
  .band-content {
    background: $base;
    padding: 80px;
    header {
      text-align: center;
    }

    form {
      width: 80%;
      margin: 0 auto;
    }
  }
}
