.right-rail-link-list
{
   .right-rails {
        @include padding-top(24px);
        @include padding-bottom(24px);
        border-top: get-spacing(5px) solid $brand-secondary;
         @media screen and (max-width: $mobile) {
              @include padding-top(14px);
              @include padding-bottom(14px);
        }
    }
    .right-rails ,.product-data
    {
       h2{
            @include fluid-type($font-xl,$font-xl);
            @include fluid-line-height(26px, 26px);
            @include margin-bottom(24px);
            @include margin-top(0);
            color: $foundation-primary;
            font-weight: 800;
            text-transform: capitalize;
        }
    }
    .product-list {
        @include padding-bottom(13px);
        overflow: hidden;
        max-width: 328px;
        width: 100%;
        .product-item {
            @include margin-bottom(15px);
            float: left;
            width: 47.2%;
            max-width: 155px;
            position: relative;
            &:nth-child(even) {
               @include margin-left(5.6%);
            }
            a{
                @include padding(4px);
                border: get-spacing(1px) solid $border-secondary;
                position: relative;
                width: 100%;
                display: block;
                padding-bottom: 96%;
                &:hover{
                 border: get-spacing(1px) solid transparent;
                 box-shadow: 0 0 0 5px $brand-primary inset;
                 }
                &[href='javascript:void(0)']:hover{
                    border: get-spacing(1px) solid $border-secondary;
                    box-shadow: none;
					cursor: default;
                }
                &[target=_blank]:hover::after{
                 width: 16px;
                 height: 16px;
                 content: '';
                 background: url(../vectors/link-out-maroon.svg) 0 0 no-repeat;
                 position: absolute;
                 bottom: 17px;
                 right: 17px;
                }
            }

            img{
                @include transform(-50%);
                @include margin-left(auto);
                @include margin-right(auto);
                position: absolute;
                top: 50%;
                left: 0;
                right: 0;
                width: 80%;
            }
        }
    }
    .product-data {
        @include padding-top(25px);
        @include padding-bottom(4px);
        border-top: get-spacing(1px) solid $border-secondary;
        h2 {
            @include margin-bottom(15px);
        }
        p {
            @include fluid-type($font-m, $font-m);
            @include fluid-line-height(26px, 26px);
            @include margin-bottom(8px);
            color: $foundation-primary;
        }
        &:last-child{
            border-bottom: get-spacing(1px) solid $border-secondary;
        }
    }

    .internal,.download,.external {
        @include fluid-type($font-m,$font-m);
        @include fluid-line-height(20px, 20px);
        @include padding-right(30px);
        @include margin-bottom(21px);
        color: $brand-primary;
        font-weight: 700;
        text-decoration: none;
        position: relative;
        display: block;
        &:after{
            position: absolute;
            @include margin-top(5px);
            content: '';
            background: url(../vectors/right_link_arrow.svg) 0 0 no-repeat;
            width: 30px;
            height: 12px;
            margin-left: 12px;

        }
        &:hover:after{
            background: url(../vectors/right_link_arrow-hover.svg) 0 0 no-repeat;
        }

    }
    .download{

        &:after{
            @include margin-top(3px);
            background: url(../vectors/download-b.svg) 0 0 no-repeat;
            height: 15px;
        }
        &:hover:after{
          background: url(../vectors/download-b-hover.svg) 0 0 no-repeat;
        }
    }
    .external{
        &:after{
            @include margin-top(3px);
            background: url(../vectors/link-out-maroon.svg) 0 0 no-repeat;
            height: 15px;
        }
        &:hover:after{
          background: url(../vectors/link-out-maroon-hover.svg) 0 0 no-repeat;
        }
    }
}
