<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~  Copyright 2018,SapientRazorfish_; All Rights Reserved.
  ~   This software is the confidential and proprietary information of SapientRazorfish_,
  ~  ("Confidential Information"). You shall not disclose such Confidential Information and shall use it only in
  ~  accordance with the terms of the license agreement you entered into with SapientRazorfish_.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<sly data-sly-use.clientLib="/apps/granite/sightly/templates/clientlib.html"
     data-sly-call="${clientlib.js @ categories=' jquery,corteva.blankPage,corteva.toplib'}"/>