<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~  Copyright 2018,SapientRazorfish_; All Rights Reserved.
  ~   This software is the confidential and proprietary information of SapientRazorfish_,
  ~  ("Confidential Information"). You shall not disclose such Confidential Information and shall use it only in
  ~  accordance with the terms of the license agreement you entered into with SapientRazorfish_.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
  <meta name="format-detection" content="telephone=no"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"
        data-sly-use.pageMeta="com.corteva.model.component.models.PageMetaModel"
        data-sly-include="analytics-head.html"
        data-sly-use.head="head.js"
        data-sly-use.headlibRenderer="headlibs.html"
        data-sly-use.clientLib="/apps/granite/sightly/templates/clientlib.html"/>
  <meta name="keywords" content="${properties.keywords}" />
  <meta name="description" content="${properties.jcr:description @ context='unsafe'}" />
  <sly data-sly-test="${pageMeta.canonicalUrl}">
    <link rel="canonical" href="${pageMeta.canonicalUrl}">
  </sly>
  <meta name="robots" content="${pageMeta.siteMapContent}" />
  <meta name="contentType" content="${properties.contentType}" />
  <meta name="lastModifiedDate" content="${pageMeta.lastModifiedDate}" />
  <meta name="title" content="${properties.pageTitle}">
  <meta name="productType" content="${pageMeta.productType}" />
  <meta property="og:title" content="${properties.pageTitle}" />
  <meta property="og:type" content="website" />
  <sly data-sly-test="${pageMeta.alternateHREF}">
  <sly data-sly-list.alternateHrefKey = "${pageMeta.alternateHREF}">
  <link rel="alternate" href="${alternateHrefKey}" hreflang="${pageMeta.alternateHREF[alternateHrefKey]}" />
  </sly>
  </sly>
  <sly data-sly-test="${pageMeta.canonicalUrl}">
    <meta property="og:url" content=${pageMeta.canonicalUrl} />
  </sly>
  <sly data-sly-test="${properties.socialImage}">
  <meta property="og:image" content=${properties.socialImage} />
  </sly>
  <sly data-sly-test="${properties.suggestionText}">
  <meta property="og:description" content=${properties.suggestionText} />
  </sly>
  <sly data-sly-test="${!properties.suggestionText}">
  <meta property="og:description" content=${properties.jcr:description} />
  </sly>
  <sly data-sly-call="${headlibRenderer.headlibs @ designPath=head.designPath}" />
  <sly data-sly-include="author.html" />
  <sly data-sly-include="/libs/cq/cloudserviceconfigs/components/servicelibs/servicelibs.jsp" />
  <sly data-sly-include="customheaderlibs.html" />
  <sly data-sly-test.faviconpath="${head.designPath}">
<!-- generics -->
<link rel="icon" type="image/ico" href="${faviconpath}/favicon.ico">
<link rel="icon" href="${faviconpath}/favicon-16x16.png" sizes="16x16">
<link rel="icon" href="${faviconpath}/favicon-32x32.png" sizes="32x32">
<link rel="icon" href="${faviconpath}/favicon-96x96.png" sizes="96x96">

<!-- Android -->
<link rel="shortcut icon" sizes="192x192" href="${faviconpath}/android-icon-192x192.png">

<!-- iOS -->
<link rel="apple-touch-icon" href="${faviconpath}/apple-icon-57x57.png" sizes="57x57">
<link rel="apple-touch-icon" href="${faviconpath}/apple-icon-76x76.png" sizes="76x76">
<link rel="apple-touch-icon" href="${faviconpath}/apple-icon-120x120.png" sizes="120x120">
<link rel="apple-touch-icon" href="${faviconpath}/apple-icon-152x152.png" sizes="152x152">
<link rel="apple-touch-icon" href="${faviconpath}/apple-icon-180x180.png" sizes="180x180">

<!-- Windows 8 IE 10-->
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="msapplication-TileImage" content="${faviconpath}/ms-icon-144x144.png" />

<!-- Windows 8.1 + IE11 and above -->

<meta name="msapplication-config" content="${faviconpath}/browserconfig.xml" />
  </sly>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Kanit:400,400i,500,500i,600,600i,700,700i,800,800i|Noto+Sans+JP:100,300,400,500,700,900|Noto+Sans+KR:100,300,400,500,700,900|Noto+Sans:400,400i,700,700i&amp;subset=japanese,korean,thai,vietnamese" rel="stylesheet">  
  <title>${properties.jcr:title}</title>
  
 <meta name="google-site-verification" content="VFEIXQRASQZFv-cii8nsceONMqsct03wIs5nMyf9kl4" />
  