<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~  Copyright 2018,SapientRazorfish_; All Rights Reserved.
  ~   This software is the confidential and proprietary information of SapientRazorfish_,
  ~  ("Confidential Information"). You shall not disclose such Confidential Information and shall use it only in
  ~  accordance with the terms of the license agreement you entered into with SapientRazorfish_.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
	<template data-sly-template.headlibs="${@ designPath}"
          data-sly-use.clientLib="${'/apps/granite/sightly/templates/clientlib.html'}"
          data-sly-use.head="${'headlibs.js' @ designPath=designPath}">
          <div data-sly-test="${wcmmode.edit || wcmmode.design}">
    <sly data-sly-call="${clientLib.all @ categories='authorlib, cq.authoring.dialog'}" />
    </div>
	</template>
