<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~  Copyright 2018,SapientRazorfish_; All Rights Reserved.
  ~   This software is the confidential and proprietary information of SapientRazorfish_,
  ~  ("Confidential Information"). You shall not disclose such Confidential Information and shall use it only in
  ~  accordance with the terms of the license agreement you entered into with SapientRazorfish_.
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
  <!DOCTYPE HTML>
  <html data-sly-use.pageMeta="com.corteva.model.component.models.PageMetaModel" 
      lang="${pageMeta.language}" dir="ltr" data-country="${pageMeta.country}" data-region="${pageMeta.region}">
      <head data-sly-include="head.html"></head>
      <body data-sly-use.body="body.js" class="${body.cssClasses}"
              data-sly-include="body.html"></body>
  </html>
  