.btn, .btn-large {
  border-radius: 4px;
  background-color: red;
  text-transform: capitalize;
  min-width: 190px;
  font-weight: bold;
  white-space: nowrap;
  line-height: 64px;
  padding-bottom: rem(65px);
  padding-left: rem(50px);
  padding-right: rem(50px);
  letter-spacing: normal;
  letter-spacing: 1px;
  font-size: .8rem;
  box-shadow: none;
  color: $base;
  text-transform: uppercase;
  transition: .35s ease-in-out;
}

.btn, .btn-large, .btn--secondary {
  margin-top: rem(40px);
}

.button:focus, .btn:focus, .btn-large:focus {
  background-color: $error-color;
}

.btn-large:hover, .btn:hover {
  background-color: $error-color;
  color: $base;
  box-shadow: none;
}

.btn--secondary {
  background-color: $base;
  color: $error-color;
  border: 2px solid $error-color;
}

.btn--secondary:hover {
  background-color: $base;
  color: $error-color;
  border: 2px solid $error-color;
}

@media only screen and (max-width: 600px) {
  .btn, .btn-large {
    padding-left: rem(20px);
    padding-right: rem(20px);
  }
}

@media only screen and (max-width: 600px) {
  .btn, .btn-large {
    width: 100%;
  }
}
