.c-filter__wrapper {
  background-color: $foundation-quaternary;
  padding-top: rem(20px);
  padding-bottom: rem(30px);
}

.c-filter__search-wrapper {
  margin-top: 0;
}
@media only screen and (max-width: $mobile) {
  .c-filter__search-wrapper {
    margin-top: rem(20px);
  }
}

.c-filter__label {
  font-weight: bold;
  color: $foundation-primary;
  font-size: .9rem;
  margin-bottom: rem(5px);
}

.c-filter__label--left {
  float: left;
  margin-left: rem(10px);
  margin-top: rem(11px);
}

#c-filter__dropdown {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  float: left;
  height: auto;
  max-height: 100vh;
}
@media only screen and (max-width: $mobile) {
  #c-filter__dropdown {
    margin-top: 0px ;
    margin-left: 0px;
  }
}

.c-filter__dropdown--inline {
  margin-top: rem(25px);
}
@media only screen and (max-width: $mobile) {
  .c-filter__dropdown--inline {
    margin-top: 0px;
  }
}

.c-filter__spacer {
  margin-top: rem(15px);
  width: 100%;
  clear: both;
}

#c-filter__dropdown .select-wrapper input.select-dropdown {
  background-color: $base;
}

#c-filter__dropdown .caret {
  color: $foundation-primary;
  line-height: 6px;
  z-index: 9;
}

#c-filter__dropdown .caret:after {
  content: '';
  margin-right: rem(15px);
  z-index: 9;
  border: solid $error-color;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2px;
  transform: rotate(45deg);
}

#c-filter__dropdown .select-dropdown {
  overflow-y: scroll;
  max-height: 420px;
  border: 1px solid $border-light;
  border-radius: 4px;
  padding: rem(10px) rem(10px) rem(10px) rem(15px);
  margin-bottom: 0px;
  box-sizing: border-box;
}

#c-filter__dropdown .select-dropdown::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px $foundation-primary;
  background-color: $base;
}

#c-filter__dropdown .select-dropdown::-webkit-scrollbar {
  width: 4px;
  background-color: $base;
}

#c-filter__dropdown .select-dropdown::-webkit-scrollbar-thumb {
  background-color: $foundation-quaternary;
}

#c-filter__dropdown .dropdown-content.select-dropdown.active {
  border-radius: 0px;
  padding: 0px;
}

#c-filter__dropdown .dropdown-content.select-dropdown li {
  border-bottom: 1px solid $foundation-quaternary;
}

#c-filter__dropdown .dropdown-content.select-dropdown li span {
  font-size: .9rem;
  color: $foundation-primary;
}

#c-filter__dropdown .select-dropdown li.disabled>span {
  color: $form-elm;
}

#c-filter__dropdown .dropdown-content.select-dropdown li.selected:hover {
  background-color: $foundation-primary;
}

#c-filter__dropdown .dropdown-content.select-dropdown li:hover {
  background-color: $foundation-primary;
}

#c-filter__dropdown .dropdown-content {
  padding-top: 0px;
  margin-top: rem(40px);
}

.c-search__icon {
  color: $error-color ;
  line-height: rem(22px);
  font-size: $font-xl;
}

.c-search__reset {
  opacity: 0.8;
  font-size: rem(22px);
  padding: rem(12px) rem(10px) rem(10px) rem(10px);
  margin-right: rem(-15px);
  color: $form-elm;
}
