.input-field {
  font-family: $body-font;
}

input[type='search'] {
  font-family: $body-font;
  appearance: none;
  border-radius: 0;
}

#search::input-placeholder {
  color: $form-elm;
}

#search::placeholder {
  color: $form-elm;
}

@media only screen and (max-width: 600px) {
  #search::input-placeholder {
    color: rgba(0, 0, 0, 0);
  }
  #search::placeholder {
    color: rgba(0, 0, 0, 0);
  }
}

input:focus::input-placeholder {
  color: transparent ;
}

input:focus::placeholder {
  color: transparent ;
}

.input-field input[type=search]~.material-icons {
  font-size: 21px;
}

.input-field input[type=search]+label {
  left: 2rem;
}

.input-field input#search[type=search]+label {
  left: 2.2rem;
}

.input-field input#search[type=search]+label i {
  color: $error-color;
}

@media only screen and (max-width: 600px) {
  .input-field input#search[type=search]+label {
    left: 1rem;
  }
}

nav .input-field label.active i {
  color: $error-color;
}

.input-field__search {
  margin-top: 0;
}

input#search-products {
  text-indent: 40px;
  margin-bottom: 0px;
  background-color: $base;
  border-radius: 4px;
  border: 1px solid $border-light;
  height: 40px;
  padding: rem(10px) 0px rem(10px) 0px;
  height: auto;
}

input#search-products::placeholder {
  color: $foundation-primary;
}

input#search-products+label {
  left: .7rem;
}

input#search-products {
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 600px) {
  input#search-products+label {
    line-height: rem(10px);
    margin-top: rem(-10px);
  }
}

input#optin {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  color: $base;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1.3rem;
  margin: 0 0 rem(20px) 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all 0.3s ease-in-out;
}

input#optin::placeholder {
  color: $base;
  font-family: $body-font;
}

@media only screen and (max-width: 600px) {
  .input-field label i {
    line-height: rem(40px);
  }
}

@media only screen and (max-width: 992px) {
  .select-wrapper input.select-dropdown {
    height: 43px;
  }
}

[type='checkbox'].filled-in:checked+label:after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid $base;
  background-color: $base;
  z-index: 0;
}

[type='checkbox'].filled-in:checked+label:before {
  top: 0;
  left: 1px;
  width: 8px;
  height: 13px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid $error-color;
  border-bottom: 2px solid $error-color;
  transform: rotateZ(37deg);
  transform-origin: 100% 100%;
}
