/* =====================================================
   Fractal UI styles
   ===================================================== */

@import 'config/**/*.css';
@import 'docs/**/*.css';

/* Theme overrides */
a {
  color: $brand-primary;

  &:hover {
    color: $brand-primary;
  }

  &:active {
    color: $brand-primary;
  }
}

.Pen-previewLink svg {
  fill: currentColor;
}

.Header {
  background-color: #fff;
  color: $error-color;
  font-weight: bold;
  height: 60px;
  box-shadow: none;
  border-bottom: 1px solid #e1e1e1;
}

.Header-navToggle svg {
  fill: #aaa;
}

[dir='ltr'] .Header-button {
  border-right: 1px solid #e1e1e1;
}

.Header-button {
  height: 3.7rem;
  width: 3.7rem;
}

.Frame-panel--sidebar {
  background-color: #fff;
}

.is-current .Tree-entityLink {
  border-bottom: 3px solid $error-color;
  background-color: transparent;
}

[dir='ltr'] .Tree-depth-3 .Tree-entityLink {
  padding-left: 0;
  margin-left: 3rem;
}

.Prose {
  tr td:first-child {
    min-width: 12em;
    padding-right: 1em;
    white-space: nowrap;
  }
}
