
.jumper-container{
	.anchor-band{
		position: relative;
		.det20-modal-overlay{
			padding: 8vw 10vw 0 10vw;
		}
	}

	.jump-bands ~ .anchor-band{
		z-index: 11;
		background:  $base;
	}
}

.anchorNavigation {
	.nav05-in-page-nav-vertical {
		top: 180px;
	}
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) and (min-width: $tablet) {
	.con11-timeline {
		.items {
			.timelineCard {
				&.last-card{
					display: block;
					margin-left: rem(84px);
				}
			}
		}
	}
}
