.con11-timeline {
  background: $foundation-primary;
  height: auto;
  position: relative;
  overflow: hidden;

  @media print {
    background: transparent;
  }

  &:after {
    /* White line down center */
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid $border-secondary;
    top: 0;
    bottom: 0;
    left: 50%;
    height: 100%;
    z-index: 1;

    @media screen and (max-width: $mobile) {
      height: 97%;
    }
  }

  .items {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 0;

    @media screen and (max-width: $mobile) {

      .item:nth-child(odd),
      .timelineCard:nth-child(odd) {
        transform: none;
      }

      .item:nth-child(even),
      .timelineCard:nth-child(even) {
        transform: none;
      }

      h2,
      .timelineCard {

        &:nth-child(odd) {
          &.timelineCard {
            transform: translateY(0);
          }
        }
      }
    }

    .c-button {
      transform: translateY(-100px);

      @media screen and (max-width: $mobile) {
        transform: none;
      }

      @media print {
        display: none;
      }
    }

    h2 {
      vertical-align: top;
    }

    .timelineCard {
      vertical-align: bottom;
    }

    h2,
    .timelineCard {
      width: calc(50% - 168px);
      display: inline-block;
      margin-bottom: 80px;
      &:nth-child(3) {
        margin-top: 80px;
        @media screen and (max-width: $mobile) {
          margin-top: 0;
        }
      }

      @media screen and (max-width: $mobile) {
        width: auto;
      }

      /* Left column */
      &:nth-child(odd) {
        margin-right: 168px;

        @media screen and (max-width: $mobile) {
          margin-right: 0;
        }

        &.timelineCard {
          transform: translateY(-70%);
          &:last-child {
            transform: translate(-50%, -70%);
            @supports (display: grid) {
              transform: translateY(-20vw);
            }
          }

          @media screen and (max-width: $mobile) {
            transform: translateY(0);
          }

          @media screen and (min-width: 770px) and (max-width: 991px) {
            transform: translateY(-30%);
          }

        }
      }

    }




    .timelineCard {
      text-align: left;
      display: inline-block;

      /* Hide the white line under the final timeline card  */
      @media screen and (min-width: $mobile) {
        &:last-of-type .date:after {
          background: $foundation-primary;
          content: "";
          width: 100%;
          height: 300vh;
          display: block;
          position: absolute;
          left: 0;
          top: 100%;
          margin-top: 3px;
        }
      }
    }

    @supports (display: grid) {
      width: auto;
      text-align: left;
      display: grid;
      grid-gap: rem(80px) rem(170px);
      grid-template-columns: 1fr 1fr;
      grid-template-rows: min-content;
      grid-auto-rows: min-content;
      align-items: start;
      justify-items: center;
      grid-auto-flow: dense;
      position: relative;
      z-index: 3;
      justify-self: center;

      h2,
      .timelineCard {
        width: 100%;
        margin: 0;
        transform: none;

        &:nth-child(odd) {
          margin-right: 0;

          &.timelineCard {
            transform: translateY(-20vw);
          }
        }

      }


      @media screen and (max-width: $mobile) {
        grid-template-columns: 1fr;
        grid-gap: rem(100px);

        .item:nth-child(odd),
        .timelineCard:nth-child(odd) {
          transform: none;
        }

        .item:nth-child(even),
        .timelineCard:nth-child(even) {
          transform: none;
        }

        h2,
        .timelineCard {

          &:nth-child(odd) {
            &.timelineCard {
              transform: translateY(0);
            }
          }
        }
      }

      @media screen and (min-width: $mobile) {

        .item,
        .timelineCard {
          height: 100%;

          &:nth-child(odd) {
            transform: translateY(-20vw);
            /* Pull up every other card to create staggered effect */
          }

          &:nth-child(even) {
            transform: none;
          }
        }
      }
    }

    h2 {
      text-align: left;
      color: $base;
      background: $foundation-primary;
      font-size: $heading-m;
      line-height: rem(36px);
      max-width: rem(427px);
      justify-self: end;
      z-index: 4;

      @media print {
        color: $foundation-primary;
        background: transparent;
      }

      @media screen and (max-width: $mobile) {
        background: $foundation-primary;
        justify-self: center;
        font-size: $heading-s;
        line-height: 28px;
        position: relative;

        &:before {
          content: "";
          display: block;
          background: $foundation-primary;
          position: absolute;
          top: -40px;
          left: 0;
          width: 100%;
          height: rem(35px);
        }

        &:after {
          content: "";
          display: block;
          background: $foundation-primary;
          position: absolute;
          bottom: -40px;
          left: 0;
          width: 100%;
          height: rem(35px);
        }
      }
    }
  }
}

@media screen {

  html.js .con11-timeline .item .item-content,
  html.js .con11-timeline .timelineCard .item-content {
    transition: all 430ms ease-out;
    opacity: 0;
    transform: translateY(20%);
  }

  html.js.loaded .con11-timeline .item.seen .item-content,
  html.js.loaded .con11-timeline .timelineCard.seen .item-content {
    opacity: 1;
    transform: translateY(0);
  }
}

/* CSS for Authored View */
.con11-timeline.timeline-auth {
  .items {
    grid-template-columns: 1fr;
    grid-gap: 100px;
  }

  .timelineCard {
    margin: 20px;
    display: block;
  }

  .timelineCard .company {
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
  }

  .timelineCard .company:before {
    display: none;
  }

  .timelineCard .date {
    position: static;
    transform: translateX(0);
    margin: 20px auto;
    display: block;
  }

  .items .timelineCard:nth-child(2n) {
    -webkit-transform: none;
    transform: none;
  }

  .items .timelineCard .item-content {
    opacity: 1;
    transform: translateY(0);
  }

  .items .timelineCard:nth-child(odd) {
    transform: translateY(0);
  }

  .items h2 {
    text-align: center;
    justify-self: auto;
  }

}
