.det16-rich-text-field {
   p {
        color: $foundation-primary;
        
        span {
            &.large {
                font-size: $font-l;
                line-height: 32px;
            }
            &.small {
                font-size: $font-m;
                line-height: 26px;
                a{
                    font-size: 14px;
                }
            }
            &.x-small {
                font-size: $font-s;
                line-height: 20px;
                a{
                    font-size: 12px;
                }
            }
            &.subhead {
                font-size: $font-xl;
                line-height: 32px;
            }
            &.label {
                font-size: $font-sm;
                line-height: 20px;
            }
        }
        
    }


}

.column-control{
    .col-8{
        .det16-rich-text-field{
            &.band{
                padding: 0;
            }
        }
    }
}

h2 + .aem-Grid {
    .band.det16-rich-text-field {
        padding: 0;
    }
}

.inner-nav-wrapper {
    .sections {
        h2 {
            font-size: $heading-m;
            line-height: 36px;
        }
    }
}

.eloquaForm {
    .success-msg{
        .det16-rich-text-field{
            p{
                @media screen and (min-width: $tablet){
                    width: 763px;
                }
            }
            h1{
                margin-bottom: 40px;
            }
        }
    }
}

.band {
    .det16-rich-text-field {
        &.band{
            padding: 100px 0;
            max-width: 1024px;
            margin: 0 auto;
            @media screen and (max-width: $mobile){
                padding: 50px 5vw;
                overflow-x: auto;
            }
        }
    }
}

.navHeaderTabs {
    .band {
        .det16-rich-text-field img, .rte img {
            margin: 0;
        }
    }
}
