.det16-rich-text-field,
.rte {
    p {
        color: $foundation-primary;

        &.large {
            font-size: $font-l;
            line-height: 32px;
        }

        &.small {
            font-size: $font-m;
            line-height: 26px;
        }

        &.x-small {
            font-size: $font-s;
            line-height: 20px;
        }

        &.subhead {
            font-size: $font-xl;
            line-height: 32px;
        }

        &.label {
            font-size: $font-sm;
            line-height: 20px;
            font-weight: 700;
        }

        &.no-margin {
            margin: 0;
        }

        a {
            font-size: $font-m;
        }
        a.c-button{
            font-size: $font-l;
        }
    }

    h1,
    h2,
    h3,
    h4,
    p {
        margin: 0 0 1em;
        word-wrap: break-word;

        &.collapse {
            margin-bottom: 0;
        }
    }
    p + h2, p + h3, p + h4 {
        margin-top: 1.34em;
    }
    p + h2:first-child, p + h3:first-child, p + h4:first-child {
        margin-top: 0;
    }
    p {
        &:last-child {
            margin-bottom: 0;
        }
    }

    blockquote {
        font-family: $brand-font;
        border-left: 4px solid $brand-secondary;
        color: $foundation-primary;
        font-size: $heading-s;
        line-height: 42px;
        margin: 12px 0;
    }

    table {
        font-size: $font-m;
        line-height: 24px;
        margin: 1em 0;
        overflow-x: auto;
        display: block;
        border: none;

        th {
            background: $foundation-tertiary;
            border: 1px solid $border-primary;
            color: $foundation-primary;
            padding-left: 20px;
        }

        td {
            border: 1px solid $border-primary;
            color: $foundation-primary;
            padding-left: 20px;
        }
    }

    ol {
        list-style-position: outside;
        padding-left: 3em;
        color: $foundation-primary;

        >li {
            list-style-position: outside;
            list-style-type: decimal;
            padding: 0.3em;
        }

        ol>li {
            list-style-type: upper-roman;
        }

        ol>ol>li {
            list-style-type: lower-alpha;
        }
    }

    ul {
        padding-left: 3em;
        color: $foundation-primary;

        >li {
            list-style-type: disc;
            padding: 0.3em;
            list-style-position: outside;
        }

        ul>li {
            list-style-type: circle;
        }

        ul>ul>li {
            list-style-type: square;
        }
    }

    img {
        max-width: 100%;
        margin: 1em auto;

        &[align] {
            margin-top: 0;

            @media screen and (max-width: $mobile) {
                float: none;
                width: 100%;
                margin-left: 0;
            }
        }
    }

    hr {
        display: block;
        clear: both;
        height: 80px;

        &:before {
            content: "";
            width: 100%;
            height: 50%;
            display: block;
            border-bottom: 1px solid $border-secondary;
        }
    }

    b,
    strong {
        font-weight: bold;
    }
}
.column-control {
    .det16-rich-text-field {
        ul {
            font-size: 16px; 
            line-height: 30px;
        }
    }
}