.det3-crop-list {
  .band-content {
    max-width: 850px;
  }
  header{
    margin-bottom: 48px;
    @media screen and (max-width: $mobile) {
      margin-bottom: 24px;
    }
  }
  .det01-accordion-list {
    .item { margin: 0px;
      h3 {
        @supports(display: grid) {
          margin-top:2px;
        }
          margin-top:7px;
          padding-right: 30px;
          @media screen and (max-width: $mobile) {
          font-size: $font-l;
          line-height: 24px;
          }

          &.hide-accordion{
            cursor: default;
            &:hover{
              text-decoration: none;
            }
            &:after{
              display: none;
            }
          }
      }
      .item-content{
        p{
          @media screen and (max-width: $mobile) {
          font-size: $font-m;
          line-height: 26px;
          }
        }
      }
    }

    .item img {
      border-radius: 50%;
      max-width: 67px;
      transform: translate(0px);
      z-index: 9;
      @supports(display: grid) {
        transform: none;
        object-fit: none;
        object-fit: scale-down;
        width: auto;
        max-width: 55px;
        max-height: 55px;
      }
    }
    .item:before {
      content: "";
      display: block;
      width: 67px;
      height: 67px;
      border-radius: 50%;
      position: absolute;
      top: 25px;
      left: 0;
      z-index: 9;
      @supports(display: grid) {
        position: relative;
        top: auto;
        left: auto;
        grid-column: 1;
        grid-row: 1;
      }
    }
    &.orange {
      .has-image{
        &.item:before {
          background-color: $brand-tertiary;
        }
      }
    }
    &.blue {
      .has-image{
        &.item:before {
          background-color: $brand-primary;
        }
      }
    }
    &.gray {
      .has-image{
        &.item:before {
          background-color: $foundation-pentanary;
        }
      }
    }
    &.green {
      .item img {
        filter: invert(100);
      }
      .has-image{
        &.item:before {
          background-color: $brand-secondary;
        }
      }
    }
    &.icons {
      .item {
        padding-top: 35px;
        padding-bottom: 35px;
        @supports(display: grid) {
          padding-top: 22px;
          padding-bottom: 22px;
        }
        &:first-child {
          padding-top: 0; 
        }

        img {
          top: 25px;
        }
      }
    }
  }
}
