@mixin transform-breadcrumb-design($angle) {
    transform-origin: top left;
    transform: skew($angle, 0 deg);
    -ms-transform: skew($angle, 0deg);
    -webkit-transform: skew($angle, 0deg);
    margin-right: 0;
}

.nav01-breadcrumbs {
    position: relative;
    overflow: hidden;
    &:after {
        content: " ";
        display: inline-block;
        position: absolute;
        background-color: $breadcrumb-angle-color;
        top: 0;
        right: -16px;
        width: 105px;
        height: 100%;
        @include transform-breadcrumb-design($breadcrumb-design-angle);
    }
    .band-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .breadcrumb-links {
        min-width: 65%;
        a {
            &:nth-last-child(2) {
                flex-shrink: 0;
            }
        }
        .breadcrumb-icons {
            display: inline-flex;
            height: 100%;
            align-items: center;
            align-content: space-around;
            width: 25%;
            max-width: 50ch;
            & a {
                display: inline-block;
                height: 13px;
                width: 20px;
                //content: "";
            }
        }
        a.email-icon {
            background: url(../vectors/email.svg) 0 0 no-repeat;
        }
        a.print-icon {
            background: url(../vectors/print.svg) 0 0 no-repeat;
        }
        a.download-icon {
            background: url(../vectors/download-white.svg) 0 0 no-repeat;
        }
    }
    .breadcrumb-icons {
        padding-right: 10px;
        display: inline-flex;
        height: 100%;
        align-items: center;
        align-content: space-around;
        & a {
            color: $base;
            background-size: 20px 14px;
            background: center center no-repeat;
            width: 20px;
            height: 14px;
            margin: 0 10px;
            &.email-icon {
                width: 18px;
                background-size: 18px 14px;
                background-image: url(../vectors/email.svg);
            }
            &.print-icon {
                background-image: url(../vectors/print.svg);
            }
            &.download-icon {
                background-image: url(../vectors/download-white.svg);
            }
        }
    }
    @media screen and (max-width: $tablet) {
        .breadcrumb-icons {
            padding-right: 30px;
        }
    }
    /* Mobile */
    @media screen and (max-width: $mobile) {
        .breadcrumb-links {
            a:before {
                content: "<";
            }
        }
        .breadcrumb-icons {
            display: none;
        }
    }
}

@media screen {
    html.ready .nav01-breadcrumbs {
        background: -moz-linear-gradient(left, $brand-primary 0%, $brand-primary 97%, $breadcrumb-angle-color 98%, $breadcrumb-angle-color 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, $brand-primary), color-stop(97%, $brand-primary), color-stop(98%, $breadcrumb-angle-color), color-stop(100%, $breadcrumb-angle-color));
        background: -webkit-linear-gradient(left, $brand-primary 0%, $brand-primary 97%, $breadcrumb-angle-color 98%, $breadcrumb-angle-color 100%);
        background: -o-linear-gradient(left, $brand-primary 0%, $brand-primary 97%, $breadcrumb-angle-color 98%, $breadcrumb-angle-color 100%);
        background: -ms-linear-gradient(left, $brand-primary 0%, $brand-primary 97%, $breadcrumb-angle-color 98%, $breadcrumb-angle-color 100%);
        background: linear-gradient(to right, $brand-primary 0%, $brand-primary 97%, $breadcrumb-angle-color 98%, $breadcrumb-angle-color 100%);
    }
}